<div class="d-flex justify-content-around p-2 align-items-start">
    <div class="devis-form rounded mat-elevation-z2" [@slideApparitionAnimation]="'true'">
        <div class="d-flex p-2">
            <button md-button (click)="goBack()" mdTooltip="Revenir aux devis"><md-icon>backspace</md-icon></button>
            <span class="toolbar-spacer"></span>
            <button form="devisForm" class="text-success" md-button mdTooltip="Sauvegarder les modifications"><md-icon>save</md-icon></button>
            <button (click)="download()" md-button mdTooltip="Télécharger en PDF"><md-icon>file_download</md-icon></button>
            <button (click)="remove()" class="text-danger" md-button mdTooltip="Supprimer ce devis"><md-icon>delete</md-icon></button>
        </div>
        <form id="devisForm" #devisForm="ngForm" (ngSubmit)="submitForm(devisForm)" autocomplete="off">
            <div class="p-5 d-flex flex-column">
                <div>
                    <h3>Devis</h3>
                    <div class="d-flex flex-row justify-content-between align-items-baseline">
                        <md-input-container>
                            <input mdInput [mdDatepicker]="createDatePicker" placeholder="Date de création" [(ngModel)]="devis.createDate" name="createDate">
                            <button mdSuffix [mdDatepickerToggle]="createDatePicker"></button>
                        </md-input-container>
                        <md-datepicker #createDatePicker></md-datepicker>
                        <md-input-container>
                            <input mdInput [mdDatepicker]="validityDatePicker" placeholder="Valide jusqu'à" [(ngModel)]="devis.validityDate" name="validityDate">
                            <button mdSuffix [mdDatepickerToggle]="validityDatePicker"></button>
                        </md-input-container>
                        <md-datepicker #validityDatePicker></md-datepicker>
                        <md-select [(ngModel)]="devis.state" placeholder="Etat" name="state" (change)="onStateChange()">
                            <md-option [value]="devisState.DRAFT">Brouillon</md-option>
                            <md-option [value]="devisState.PENDING">En attente</md-option>
                            <md-option [value]="devisState.ACCEPTED">Accepté</md-option>
                            <md-option [value]="devisState.REFUSED">Refusé</md-option>
                            <md-option [value]="devisState.PAID">Payé</md-option>
                        </md-select>
                    </div>
                </div>

                <div class="mt-5 d-flex justify-content-between">
                    <div>
                        <h3>Mes coordonnées</h3>
                        <app-inplace>
                            <div class="inplace-output">
                                <div>{{devis.userName}}</div>
                                <div>{{devis.siret}}</div>
                                <div>{{devis.userPhone}}</div>
                                <div>{{devis.userMail}}</div>
                                <div>{{devis.userAddress.street}}</div>
                                <div>{{devis.userAddress.complement}}</div>
                                <div>{{devis.userAddress.zipcode}} {{devis.userAddress.city}}</div>
                                <div *ngIf="devis.userAddress.street == null && devis.userAddress.city == null && devis.userAddress.zipcode == null && devis.userName == null && devis.userPhone == null && devis.userMail == null && devis.siret == null">
                                    Saisissez vos coordonnées
                                </div>
                            </div>
                            <div class="inplace-input">
                                <md-input-container>
                                    <input mdInput name="userName" [(ngModel)]="devis.userName" type="text" placeholder="Nom et prénom">
                                </md-input-container>
                                <md-input-container>
                                    <input mdInput name="userMail" [(ngModel)]="devis.userMail" type="email" placeholder="Email">
                                </md-input-container>
                                <md-input-container>
                                    <input mdInput name="siret" [(ngModel)]="devis.siret" type="text" placeholder="Numéro de siret">
                                </md-input-container>
                                <md-input-container>
                                    <input mdInput name="userPhone" [(ngModel)]="devis.userPhone" type="tel" placeholder="Téléphone">
                                </md-input-container>
                                <app-address-input [(street)]="devis.userAddress.street" [(city)]="devis.userAddress.city" [(zipcode)]="devis.userAddress.zipcode"></app-address-input>
                            </div>
                        </app-inplace>
                    </div>
                    <div>
                        <h3>Client</h3>
                        <app-inplace>
                            <div class="inplace-output">
                                <div>{{devis.clientName}}</div>
                                <div>{{devis.clientAddress.street}}</div>
                                <div>{{devis.clientAddress.complement}}</div>
                                <div>{{devis.clientAddress.zipcode}} {{devis.clientAddress.city}}</div>
                                <div *ngIf="devis.clientName == null && devis.clientAddress.street == null && devis.clientAddress.city==null && devis.clientAddress.zipcode == null">
                                    Saisissez les coordonnées du client
                                </div>
                            </div>
                            <div class="inplace-input">
                                <md-input-container>
                                    <input mdInput name="clientName" [(ngModel)]="devis.clientName" type="text" placeholder="Nom du client">
                                </md-input-container>
                                <app-address-input [(street)]="devis.clientAddress.street" [(city)]="devis.clientAddress.city" [(zipcode)]="devis.clientAddress.zipcode"></app-address-input>
                            </div>
                        </app-inplace>
                    </div>
                </div>
                <div class="mt-5 title-wrapper">
                    <md-input-container>
                        <input mdInput name="title" [(ngModel)]="devis.title" type="text" placeholder="Titre du devis" required>
                    </md-input-container>
                </div>

                <div [dragula]='"lines"' [dragulaModel]='devis.lines' class="mt-5 lines-wrapper">
                    <div class="devis-line devis-line-header d-flex flex-row justify-content-between align-items-center">
                        <div class="line-content">Détail de la prestation</div>
                        <div class="line-quantity">Quantité</div>
                        <div class="line-unit">Prix Unit.</div>
                        <div class="line-total">TOTAL</div>
                    </div>
                    <div *ngFor="let line of devis.lines" class="devis-line d-flex flex-row justify-content-between align-items-baseline">
                        <md-input-container>
                            <textarea mdInput [(ngModel)]="line.content" type="text" [ngModelOptions]="{standalone: true}" class="line-content"></textarea>
                        </md-input-container>
                        <md-input-container class="mx-3">
                            <input mdInput [(ngModel)]="line.quantity" (ngModelChange)="updateLinePrice(line)" type="number" [ngModelOptions]="{standalone: true}" class="line-quantity">
                        </md-input-container>
                        <md-input-container class="mx-3">
                            <input mdInput [(ngModel)]="line.unitPrice" (ngModelChange)="updateLinePrice(line)" type="number" [ngModelOptions]="{standalone: true}" class="line-unit">
                            <span mdSuffix>€</span>
                        </md-input-container>
                        <div class="line-total">{{line.totalPrice}}<span [hidden]="line.totalPrice == null">€</span></div>

                        <md-icon class="devis-line-drag-handle">drag_handle</md-icon>
                    </div>
                </div>
            </div>
        </form>

        <form #lineForm="ngForm" (ngSubmit)="submitLine(lineForm)" autocomplete="off">
            <div class="p-5 create-line-wrapper d-flex flex-row justify-content-between align-items-center">
                <md-input-container>
                    <textarea mdInput ngModel name="content" type="text" placeholder="Détail de la prestation" required class="line-content"></textarea>
                </md-input-container>
                <md-input-container class="mx-3">
                    <input mdInput ngModel name="quantity" type="number" placeholder="Quantité" class="line-quantity">
                </md-input-container>
                <md-input-container class="mx-3">
                    <input mdInput ngModel name="unitPrice" type="number" placeholder="Prix unitaire" class="line-unit">
                    <span mdSuffix>€</span>
                </md-input-container>
                <button md-button type="submit"><md-icon>add</md-icon></button>
            </div>
        </form>
    </div>
    <app-devis-preview [devis]="devis" *ngIf="devis" class="mat-elevation-z2 devis-preview" [@rightSlideApparitionAnimation]="'true'"></app-devis-preview>
</div>