<md-tab-group *ngIf="project" selectedIndex="1">
    <md-tab label="Dashboard">
        <div class="tab-wrapper">
            <md-card class="project-summary">
                <md-card-title class="justify-content-between">
                    <h2>{{project.name}}</h2>
                    <span class="project-progress">{{project.progress}}%</span>
                </md-card-title>
                <md-card-content>

                    <md-button-toggle-group name="state" (change)="saveProject()" [(ngModel)]="project.state" class="project-state-buttons">
                        <md-button-toggle value="0">
                            Prospection
                        </md-button-toggle>
                        <md-button-toggle value="1">
                            Devis
                        </md-button-toggle>
                        <md-button-toggle value="2">
                            Production
                        </md-button-toggle>
                        <md-button-toggle value="3">
                            Facturé
                        </md-button-toggle>
                        <md-button-toggle value="4">
                            Payé
                        </md-button-toggle>
                    </md-button-toggle-group>
                </md-card-content>
            </md-card>
            <div>
                <project-client [projectId]="projectId"></project-client>
                <project-history [projectId]="projectId"></project-history>
            </div>
            <div>
                <project-gains [projectId]="projectId"></project-gains>
                <app-note-list [projectId]="projectId"></app-note-list>
            </div>
        </div>
    </md-tab>
    <md-tab label="Gestion">
        <div class="tab-wrapper">
            <project-task [projectId]="projectId"></project-task>
        </div>
    </md-tab>
    <md-tab label="Devis">
        <div class="tab-wrapper">
        </div>
    </md-tab>
    <md-tab label="Facture">
        <div class="tab-wrapper">
        </div>
    </md-tab>
    <md-tab label="Options">
        <div class="tab-wrapper">
            <project-settings [project]="project" (onUpdate)="onSettingsUpdate($event)"></project-settings>
        </div>
    </md-tab>
</md-tab-group>