<div class="login-register-wrapper d-flex mat-elevation-z4 rounded">
    <div class="white-background mat-elevation-z6 rounded" [@whiteBackgroundAnim]="state"></div>
    <app-register *ngIf="state === 'register'" [@popupApparition]="'true'"></app-register>
    <div class="register-panel d-flex flex-column justify-content-around align-items-start" *ngIf="state === 'login'" [@fadeApparition]="'true'">
        <h1>Pas de compte ?</h1>
        <button md-raised-button color="primary" (click)="register()">Inscription</button>
    </div>

    <div class="login-panel d-flex flex-column justify-content-around align-items-start" *ngIf="state === 'register'" [@fadeApparition]="'true'">
        <h1>Déjà inscrit ?</h1>
        <button md-raised-button color="primary" (click)="login()">Connexion</button>
    </div>
    <app-login *ngIf="state === 'login'" [@popupApparition]="'true'"></app-login>

</div>