@import 'variables';
@import 'utils';
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../../../assets/background.jpg');
  position: fixed;
  width: 100%;
  height: 100%;
}

$wrapper-width: 700px;
$wrapper-height: 450px;
$wrapper-padding: 30px;
.login-register-wrapper {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: $wrapper-width;
  height: $wrapper-height;
  padding: $wrapper-padding;
}

.white-background {
  height: $wrapper-height + $wrapper-padding * 2;
  background: #fff;
  position: absolute;
  margin-top: $wrapper-padding * -2;
}

app-login,
app-register,
.login-panel,
.register-panel {
  position: relative;
  color: #333;
  z-index: 1000;
  height: $wrapper-height - $wrapper-padding * 2;
}

.login-panel,
.register-panel {
  color: #fff;
  width: $wrapper-width * 0.4;
}

app-login,
app-register {
  width: $wrapper-width * 0.6;
  padding: $wrapper-padding;
}

.white-background {
  width: $wrapper-width * 0.6 - $wrapper-padding;
}

.login-panel {
  padding-left: $wrapper-padding;
}

app-register {
  margin-top: $wrapper-padding * -2;
}
