.create-wrapper {
  height: 456px!important;
}

.square-list-item {
  cursor: pointer;
}

.square-list-item,
.item-slot {
  width: 300px;
  height: 480px;
}

.square-list-item .preview-wrapper {
  overflow: hidden;
  max-height: 425px;
}

app-invoice-preview {
  transform: scale(0.38);
  transform-origin: top left;
}

.devis-state {
  height: 30px;
  line-height: 30px;
  z-index: 100;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.draft {
  color: #222;
}
