@import 'variables';
.square-list-item {
  cursor: pointer;
}

.square-list-item mat-card {
  height: 300px;
  mat-card-title {
    font-family: $title-font;
    font-size: 20px;
  }
  mat-card-actions {
    color: #666;
    text-align: right;
  }
  .devis-price {
    font-size: 17px;
  }
}
