<div class="container-fluid">
  <app-project-title [title]="title" (back)="goBack()" class="d-block mb-4"></app-project-title>
  <app-square-list [loading]="loading$ | async">
    <div class="text-center create-wrapper">
      <button [routerLink]="['./', 'create']" mat-raised-button class="blue circle">
        <mat-icon>add_circle</mat-icon>
        Créer un facture
      </button>
    </div>

    <div *ngFor="let invoice of (invoices$ | async)" (click)="select(invoice)" class="square-list-item">
      <mat-card class="d-flex flex-column">
        <mat-card-header>
          <mat-card-title>{{invoice.title}}</mat-card-title>
          <mat-card-subtitle>Créé le {{invoice.createDate | date:'fullDate'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="flex-1 d-flex flex-column">
          <div class="badge" [ngClass]="{'badge-default': invoice.state===0, 'badge-info': invoice.state===1, 'badge-success': invoice.state===2,'badge-danger': invoice.state === 3}">
            {{invoice.state | invoiceState}}
          </div>
          <div class="flex-1 d-flex align-items-center justify-content-center devis-price">{{invoice.totalPrice}}€</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="duplicate(invoice);$event.stopPropagation()">
            <mat-icon class="md-24">content_copy</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(invoice);$event.stopPropagation()">
            <mat-icon class="md-24">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </app-square-list>
</div>
