@import 'variables';
@import 'components';
:host {
    @extend .default-panel;
    padding: 15px 20px;
}

.icon-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
        font-size: 40px;
        text-align: center;
    }
    .value {
        font-size: 25px;
        line-height: 25px;
        height: 30px;
    }
}

.label {
    margin-top: 15px;
    font-size: 13px;
    height: 13px;
    line-height: 13px;
}

.icon,
.label {
    color: rgba(255, 255, 255, 0.5);
}