<mat-input-container>
  <input matInput [ngModel]="street" (ngModelChange)="streetChange.emit($event)" type="text" placeholder="Nom de rue">
</mat-input-container>
<mat-input-container>
  <input matInput [ngModel]="complement" (ngModelChange)="complementChange.emit($event)" type="text" placeholder="Complément">
</mat-input-container>
<mat-input-container>
  <input matInput [ngModel]="zipcode" (ngModelChange)="zipcodeChange.emit($event)" type="text" placeholder="Code postal">
</mat-input-container>
<mat-input-container>
  <input matInput [ngModel]="city" (ngModelChange)="cityChange.emit($event)" type="text" placeholder="Ville">
</mat-input-container>
