<div class="container-fluid" *ngIf="!creating">
  <!-- <app-project-note-list [notes]="notes$ | async" [loading]="notesLoading$ | async" (create)="createNote($event)" (delete)="deleteNote($event)"></app-project-note-list> -->
  <div class="actions-panel">
    <button md-mini-fab><md-icon>import_contacts</md-icon></button>
    <button md-mini-fab class="mt-2"><md-icon>note_add</md-icon></button>
  </div>
  <div class="p-5"></div>
  <project-list [projects]="projects$ | async" [loading]="loading$ | async" (select)="onSelectionEnds($event)" (create)="toggleProjectCreation()"
    class="light-scrollbar">
  </project-list>
</div>

<app-create-project (create)="createProject($event)" (cancel)="toggleProjectCreation()" *ngIf="creating"></app-create-project>
