@import '../project-details-variables';
:host {
  @include project-details-container;
}

nav /deep/ .mat-tab-links {
  display: flex;
  flex-direction: column;
}

:host>div.container {
  padding-top: 100px;
}

mat-input-container {
  display: block;
}
