<!-- Devis name -->
<form #nameForm="ngForm" class="step" *ngIf="isStepName()" (ngSubmit)="devisInfo(nameForm)" (keyup.enter)="devisInfo(nameForm)">
  <button type="submit" style="display:none">hidden submit</button>
  <p><button md-button class="icon-only" (click)="prevStep()"><md-icon>arrow_back</md-icon></button> Quel est le nom de votre
    devis ?</p>
  <md-input-container>
    <input name="title" type="text" mdInput [ngModel]="devis.title" placeholder="Nom du devis" required>
  </md-input-container>
  <button md-button class="align-self-end" type="submit">Suivant</button>
</form>

<!-- User address selection -->
<div class="step" *ngIf="isStepUserAddress()">
  <p><button md-button class="icon-only" (click)="prevStep()"><md-icon>arrow_back</md-icon></button> Quel est votre adresse
    de facturation ?
  </p>
  <app-address-list (onSelect)="selectUserAddress($event)" [addresses]="userAddresses" *ngIf="userAddresses.length > 0"></app-address-list>
  <form #userAddressForm="ngForm" (ngSubmit)="createUserAddress(userAddressForm.value)" class="step" *ngIf="userAddresses.length === 0">
    <md-input-container>
      <input mdInput ngModel name="street" type="text" placeholder="Nom de rue">
    </md-input-container>
    <md-input-container>
      <input mdInput ngModel name="complement" type="text" placeholder="Complément">
    </md-input-container>
    <md-input-container>
      <input mdInput ngModel name="zipcode" type="text" placeholder="Code postal">
    </md-input-container>
    <md-input-container>
      <input mdInput ngModel name="city" type="text" placeholder="Ville">
    </md-input-container>
    <button md-button type="submit">Suivant</button>
  </form>
</div>

<form #userProfileForm="ngForm" (ngSubmit)="userInfo(userProfileForm)" class="step" *ngIf="isStepProfileInfo()">
  <p><button md-button class="icon-only" (click)="prevStep()"><md-icon>arrow_back</md-icon></button> Informations sur votre
    société
  </p>
  <md-input-container>
    <input mdInput [(ngModel)]="profile.siret" name="siret" placeholder="Numéro de siret">
  </md-input-container>
  <md-input-container>
    <input mdInput [(ngModel)]="profile.phone" name="phone" placeholder="Numéro de téléphone">
  </md-input-container>
  <button md-button type="submit">Suivant</button>
</form>


<!-- Client selection -->
<div class="step" *ngIf="isStepClient()">
  <p><button md-button class="icon-only" (click)="prevStep()"><md-icon>arrow_back</md-icon></button> Qui est le client ?</p>
  <div *ngIf="clients.length > 0">
    <button md-button (click)="selectClient(client)" *ngFor="let client of clients">{{client.name}} <small>{{client.firstname}} {{client.lastname}}</small></button>
  </div>
  <app-client-create (create)="createClient($event)" *ngIf="clients.length === 0"></app-client-create>
</div>

<!-- Client address selection -->
<div class="step" *ngIf="isStepClientAddress()">
  <p><button md-button class="icon-only" (click)="prevStep()"><md-icon>arrow_back</md-icon></button> Quelle est l'adresse de
    facturation du client ?</p>
  <div *ngIf="client.addresses.length > 0">
    <button md-button (click)="selectClientAddress(address)" *ngFor="let address of client.addresses">{{ address | myAddress}}</button>
  </div>
  <form #clientAddressForm="ngForm" (ngSubmit)="createClientAddress(clientAddressForm.value)" class="step" *ngIf="client.addresses.length === 0">
    <md-input-container>
      <input mdInput ngModel name="street" type="text" placeholder="Nom de rue">
    </md-input-container>
    <md-input-container>
      <input mdInput ngModel name="complement" type="text" placeholder="Complément">
    </md-input-container>
    <md-input-container>
      <input mdInput ngModel name="zipcode" type="text" placeholder="Code postal">
    </md-input-container>
    <md-input-container>
      <input mdInput ngModel name="city" type="text" placeholder="Ville">
    </md-input-container>
    <button md-button type="submit">Suivant</button>
  </form>
</div>

<div *ngIf="isStepCreation() && (devisCreating | async)">
  <p>Création du devis
    <app-spinner></app-spinner>
  </p>
</div>
