<div class="create-devis-wrapper">
  <div class="steps d-flex">
    <div [ngClass]="{'active': isStepProfileInfo(), 'complete': isStepComplete(STEP_PROFILE_INFO)}">
      <div class="step-number">
        <span>1</span>
        <span class="fa fa-check"></span>
      </div>
      <div class="step-title">Société</div>
    </div>
    <div [ngClass]="{'active': isStepUserAddress(), 'complete': isStepComplete(STEP_USER_ADDRESS)}">
      <div class="step-number">
        <span>2</span>
        <span class="fa fa-check"></span>
      </div>
      <div class="step-title">Mon adresse</div>
    </div>
    <div [ngClass]="{'active': isStepClient(), 'complete': isStepComplete(STEP_CLIENT)}">
      <div class="step-number">
        <span>3</span>
        <span class="fa fa-check"></span>
      </div>
      <div class="step-title">Client</div>
    </div>
    <div [ngClass]="{'active': isStepClientAddress(), 'complete': isStepComplete(STEP_CLIENT_ADDRESS)}">
      <div class="step-number">
        <span>4</span>
        <span class="fa fa-check"></span>
      </div>
      <div class="step-title">Son adresse</div>
    </div>
    <div [ngClass]="{'active': isStepName(), 'complete': isStepComplete(STEP_NAME)}">
      <div class="step-number">
        <span>5</span>
        <span class="fa fa-check"></span>
      </div>
      <div class="step-title">Devis</div>
    </div>
  </div>

  <!-- Company info  -->
  <form #userProfileForm="ngForm" (ngSubmit)="userInfo(userProfileForm)" class="step" *ngIf="isStepProfileInfo()">
    <p>
      <button mat-button class="icon-only" (click)="prevStep()">
        <mat-icon>arrow_back</mat-icon>
      </button> Informations sur votre société
    </p>
    <mat-input-container>
      <input matInput [(ngModel)]="profile.siret" name="siret" placeholder="Numéro de siret">
    </mat-input-container>
    <mat-input-container>
      <input matInput [(ngModel)]="profile.phone" name="phone" placeholder="Numéro de téléphone">
    </mat-input-container>
    <div class="d-flex justify-content-end">
      <button mat-raised-button type="submit" class="flex-last">Suivant</button>
      <button mat-button (click)="nextStep()" class="mr-2">Ignorer</button>
    </div>
  </form>

  <!-- User address selection -->
  <div class="step" *ngIf="isStepUserAddress()">
    <p>
      <button mat-button class="icon-only" (click)="prevStep()">
        <mat-icon>arrow_back</mat-icon>
      </button> Quel est votre adresse de facturation ?
    </p>
    <app-address-list (onSelect)="selectUserAddress($event)" [addresses]="userAddresses" *ngIf="userAddresses.length > 0"></app-address-list>
    <form #userAddressForm="ngForm" (ngSubmit)="userAddressForm.valid ? createUserAddress(userAddressForm.value) : ''" class="step"
      *ngIf="userAddresses.length === 0">
      <mat-input-container>
        <input matInput ngModel name="street" type="text" placeholder="Nom de rue" required>
      </mat-input-container>
      <mat-input-container>
        <input matInput ngModel name="complement" type="text" placeholder="Complément">
      </mat-input-container>
      <mat-input-container>
        <input matInput ngModel name="zipcode" type="text" placeholder="Code postal" required>
      </mat-input-container>
      <mat-input-container>
        <input matInput ngModel name="city" type="text" placeholder="Ville" required>
      </mat-input-container>
      <div class="d-flex justify-content-end">
        <button mat-raised-button type="submit" class="flex-last">Suivant</button>
        <button mat-button (click)="nextStep()" class="mr-2">Ignorer</button>
      </div>
    </form>
  </div>



  <!-- Client selection -->
  <div class="step" *ngIf="isStepClient()">
    <p>
      <button mat-button class="icon-only" (click)="prevStep()">
        <mat-icon>arrow_back</mat-icon>
      </button> Qui est le client ?</p>
    <div class="client-list light-scrollbar">
      <div *ngIf="clients.length > 0" class="d-flex flex-column">
        <button mat-button (click)="selectClient(client)" *ngFor="let client of clients" class="mb-2">
          <mat-icon>person</mat-icon>{{client.name}}
          <small>{{client.firstname}} {{client.lastname}}</small>
        </button>
      </div>
    </div>
    <app-client-create (create)="createClient($event)" *ngIf="clients.length === 0"></app-client-create>
  </div>

  <!-- Client address selection -->
  <div class="step" *ngIf="isStepClientAddress()">
    <p>
      <button mat-button class="icon-only" (click)="prevStep()">
        <mat-icon>arrow_back</mat-icon>
      </button> Quelle est l'adresse de facturation du client ?</p>
    <div *ngIf="client.addresses.length > 0" class="d-flex flex-column">
      <button mat-button (click)="selectClientAddress(address)" *ngFor="let address of client.addresses">{{ address | myAddress}}</button>
    </div>
    <form #clientAddressForm="ngForm" (ngSubmit)="createClientAddress(clientAddressForm.value)" class="step" *ngIf="client.addresses.length === 0">
      <mat-input-container>
        <input matInput ngModel name="street" type="text" placeholder="Nom de rue">
      </mat-input-container>
      <mat-input-container>
        <input matInput ngModel name="complement" type="text" placeholder="Complément">
      </mat-input-container>
      <mat-input-container>
        <input matInput ngModel name="zipcode" type="text" placeholder="Code postal">
      </mat-input-container>
      <mat-input-container>
        <input matInput ngModel name="city" type="text" placeholder="Ville">
      </mat-input-container>
      <button mat-button type="submit">Suivant</button>
    </form>
  </div>

  <!-- Devis name -->
  <form #nameForm="ngForm" class="step" *ngIf="isStepName()" (ngSubmit)="devisInfo(nameForm)" (keyup.enter)="devisInfo(nameForm)">
    <button type="submit" style="display:none">hidden submit</button>
    <p>
      <button mat-button class="icon-only" (click)="prevStep()">
        <mat-icon>arrow_back</mat-icon>
      </button> Quel est le nom de votre devis ?</p>
    <mat-input-container>
      <input name="title" type="text" matInput [ngModel]="devis.title" placeholder="Nom du devis" required>
    </mat-input-container>
    <button mat-raised-button class="align-self-end blue" type="submit">Créer</button>
  </form>

  <div class="text-center" *ngIf="isStepCreation() && (devisCreating | async)">
    <p>Création du devis
      <app-spinner></app-spinner>
    </p>
  </div>
</div>
