@import 'utils';
@import 'variables';
:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.create-devis-wrapper {
  min-width: 400px;
}

.step {
  display: flex;
  flex-direction: column;
  p {
    margin-bottom: 2rem;
  }
}

$stepNumberRadius: 30px;
.steps {
  margin-bottom: 2rem;
  &>div {
    flex: 1;
    text-align: center;
    @include border-gradient(#888, #888, 100%, 1px, center 15px);
    .step-number {
      width: $stepNumberRadius;
      height: $stepNumberRadius;
      margin: 0 auto;
      text-align: center;
      line-height: $stepNumberRadius;
      background: $card-bg;
      border-radius: 50%;
      span:first-child {
        font-weight: bold;
      }
      .fa {
        display: none;
      }
    }
    .step-title {
      color: #888;
      font-size: 12px;
    }
    &.active {
      .step-number {
        background: $color-primary;
        ;
        color: #fff;
      }
      .step-title {
        color: #fff;
      }
    }
    &.complete {
      .step-title {}
      .step-number {
        background: #5cb85c;
        span:first-child {
          display: none;
        }
        .fa {
          color: #fff;
          display: inline-block;
        }
      }
    }
  }
}

.client-list {
  max-height: 400px;
  overflow-y: auto;
}
