@import '../project-details-variables';
:host {
    display: flex;
    flex: 1;
    justify-content: center;
    @include project-details-container;
}

nav /deep/ .mat-tab-links {
    display: flex;
    flex-direction: column;
}