<md-card *ngIf="project">
    <form #settingsForm="ngForm" (ngSubmit)="saveSettings(settingsForm)" *ngIf="project" class="container">
        <div class="row justify-content-md-center">
            <div class="col d-flex flex-column justify-content-between">
                <div class="col d-flex flex-column">
                    <md-input-container>
                        <input name="name" type="text" mdInput placeholder="Nom du projet" [ngModel]="project.name" required>
                    </md-input-container>
                    <md-input-container>
                        <textarea name="description" mdInput placeholder="Description" [ngModel]="project.description"></textarea>
                    </md-input-container>
                </div>
                <div class="col d-flex flex-column">
                    <button md-button type="submit" [disabled]="!settingsForm.valid">
                        <md-icon>save</md-icon>
                        Valider
                    </button>
                    <button md-button (click)="deleteProject()">
                        <md-icon>delete</md-icon>
                        Supprimer
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="plannedStartDate">Date de départ prévu</label>
                    <my-date-picker name="plannedStartDate" [options]="myDatePickerOptions" [ngModel]="plannedStartDate"></my-date-picker>
                </div>
                <div class="form-group">
                    <label for="startDate">Date de départ effectif</label>
                    <my-date-picker name="startDate" [options]="myDatePickerOptions" [ngModel]="startDate"></my-date-picker>
                </div>
                <div class="form-group">
                    <label for="plannedEndDate">Date de fin prévu</label>
                    <my-date-picker name="plannedEndDate" [options]="myDatePickerOptions" [ngModel]="plannedEndDate"></my-date-picker>
                </div>
                <div class="form-group">
                    <label for="endDate">Date de fin effective</label>
                    <my-date-picker name="endDate" [options]="myDatePickerOptions" [ngModel]="endDate"></my-date-picker>
                </div>
            </div>
        </div>
    </form>
</md-card>