<div *ngIf="!display">
  <mat-icon class="align-middle">today</mat-icon>
  <button mat-button (click)="toggle()">
    <span *ngIf="date">{{valueLabel != null ? valueLabel : (date | date)}}</span>
    <span *ngIf="!date">{{noValueLabel != null ? noValueLabel : 'Définir une date'}}</span>
  </button>
</div>
<div *ngIf="display">
  <form #dateForm="ngForm" (ngSubmit)="save(dateForm)" autocomplete="off">
    <mat-form-field [ngClass]="inputClass">
      <input matInput [matDatepicker]="datePicker" name="date" [ngModel]="date" placeholder="Sélectionner une date" required>
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <button mat-button (click)="cancel(dateForm)">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-button type="submit">
      <mat-icon>save</mat-icon>
    </button>
  </form>
</div>
