<div *ngIf="!display">
    <md-icon class="align-middle">today</md-icon>
    <button md-button (click)="toggle()">
      <span *ngIf="date">{{valueLabel != null ? valueLabel : (date | date)}}</span>
      <span *ngIf="!date">{{noValueLabel != null ? noValueLabel : 'Définir une date'}}</span>
    </button>
</div>
<div *ngIf="display">
    <form #dateForm="ngForm" (ngSubmit)="save(dateForm)" autocomplete="off">
        <md-input-container>
            <button mdPrefix [mdDatepickerToggle]="datePicker" class="mr-2"></button>
            <input name="date" mdInput [ngModel]="date" [mdDatepicker]="datePicker" placeholder="Sélectionner une date" required>
        </md-input-container>
        <md-datepicker #datePicker></md-datepicker>
        <button md-button (click)="cancel(dateForm)"><md-icon>cancel</md-icon></button>
        <button md-button type="submit"><md-icon>save</md-icon></button>
    </form>
</div>