<div>
    <div class="devis-state rounded-top" [ngClass]="{'draft': devis.state===0, 'bg-info': devis.state===1, 'bg-success': devis.state===2,'bg-error': devis.state === 3}">
        <span *ngIf="devis.state === 0">Brouillon</span>
        <span *ngIf="devis.state === 1">En attente</span>
        <span *ngIf="devis.state === 2">Accepté</span>
        <span *ngIf="devis.state === 3">Refusé</span>
        <span *ngIf="devis.state === 4">Payé</span>
    </div>
    <app-devis-preview [devis]="devis"></app-devis-preview>
</div>