app-devis-preview {
    transform: scale(0.38);
    transform-origin: top left;
}

.devis-state {
    height: 30px;
    line-height: 30px;
    position: absolute;
    z-index: 100;
    background: #fff;
    width: 300px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.draft {
    color: #222;
}