@import 'variables';
:host {}

app-task-kaban {
  min-height: calc(100vh - #{$header-height} - 80px);
}

md-sidenav {
  width: 300px;
}

app-task-edition {
  height: 100%;
  display: block;
}

.mat-sidenav-container {
  background: none;
}

:host /deep/ .mat-sidenav-content {
  padding: 0 15px;
}
