@import 'variables';
:host {}

app-task-kaban {
  margin-top: 80px;
  min-height: calc(100vh - #{$header-height} - 80px);
}

md-sidenav {
  width: 300px;
}

app-task-edition {
  height: 100%;
  display: block;
}
