<app-project-menu></app-project-menu>
<md-sidenav-container>
  <md-sidenav #sidenav align="end">
    <app-task-edition [task]="selectedTask" (save)="updateTask($event)" (cancel)="cancelEdition($event)" (delete)="deleteTask($event)"
      *ngIf="selectedTask"></app-task-edition>
  </md-sidenav>
  <app-task-kaban [todoTasks]="todoTasks$ | async" [inProgressTasks]="inProgressTasks$ | async" [finishedTasks]="finishedTasks$ | async"
    (stateChange)="onStateChanged($event)" (create)="createTask($event)" (select)="selectTask($event)"></app-task-kaban>
</md-sidenav-container>
