<mat-sidenav-container>
  <mat-sidenav #sidenav align="end">
    <app-task-edition [task]="selectedTask" (save)="updateTask($event)" (cancel)="cancelEdition($event)" (delete)="deleteTask($event)"
      *ngIf="selectedTask"></app-task-edition>
  </mat-sidenav>
  <app-project-title [title]="title" (back)="goBack()"></app-project-title>
  <app-task-kaban [todoTasks]="todoTasks$ | async" [inProgressTasks]="inProgressTasks$ | async" [finishedTasks]="finishedTasks$ | async"
    (stateChange)="onStateChanged($event)" (create)="createTask($event)" (select)="selectTask($event)"></app-task-kaban>
</mat-sidenav-container>
