<h2>Post it</h2>
<md-progress-bar color="primary" mode="indeterminate" *ngIf="loading$ | async">
</md-progress-bar>
<form #noteForm="ngForm" (ngSubmit)="submitCreate(noteForm)" class="p-2">
    <md-input-container>
        <input name="title" type="text" mdInput ngModel placeholder="Nouvelle note..." minlength="4" required>
    </md-input-container>
    <button md-button type="submit"><md-icon>add</md-icon></button>
</form>

<div class="note-list">
    <div [dragula]='"project-notes"' class="note-list-wrapper">
        <div *ngFor="let note of (notes$ | async)" (click)="toggle.emit(note)" class="post-it p-2 my-2 rounded" [attr.note-id]="note.id" [ngClass]="{'done' : note.done}">
            {{note.title}}
        </div>
    </div>
</div>