:host {
    width: 300px;
}

.post-it,
.list-create-form {
    background: #fff;
}

.post-it {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.note-list-wrapper {
    min-height: 100px;
}

.gu-transit {
    opacity: 0.5;
}

.gu-mirror {
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}