<div class="d-inline-flex align-items-center">
  <span class="username mr-2 hidden-xs-down">{{profile?.firstname}} {{profile?.lastname}}</span>
  <button class="profile-btn mat-elevation-z2" mat-button [matMenuTriggerFor]="menu" color="primary">
    <mat-icon>person</mat-icon>
    <!-- <mat-icon>more_vert</mat-icon>    -->
  </button>
</div>
<mat-menu #menu="matMenu">
  <button [routerLink]="['/profile/general']" mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Mon profil</span>
  </button>
  <button (click)="logout()" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Se déconnecter</span>
  </button>
</mat-menu>
