<div class="d-inline-flex align-items-center">
  <span class="username mr-2 hidden-xs-down">{{profile?.firstname}} {{profile?.lastname}}</span>
  <button class="profile-btn mat-elevation-z2" md-button [mdMenuTriggerFor]="menu">
  <md-icon>person</md-icon>  
  <!-- <md-icon>more_vert</md-icon>    -->
</button>
</div>
<md-menu #menu="mdMenu">
  <button [routerLink]="['/profile']" md-menu-item>
    <md-icon>person</md-icon>
    <span>Mon profil</span>
  </button>
  <button (click)="logout()" md-menu-item>
    <md-icon>exit_to_app</md-icon>
    <span>Se déconnecter</span>
  </button>
</md-menu>
