<button class="profile-btn" md-button [mdMenuTriggerFor]="menu">
  <md-icon>person</md-icon>  
  <span class="username">{{(user$ | async)?.username}}</span>
  <md-icon>more_vert</md-icon>  
</button>
<md-menu #menu="mdMenu">
    <button [routerLink]="['/profile']" md-menu-item>
    <md-icon>person</md-icon>
    <span>Mon profil</span>
  </button>
    <button (click)="_sessionActions.dispatchLogout()" md-menu-item>
    <md-icon>exit_to_app</md-icon>
    <span>Se déconnecter</span>
  </button>
</md-menu>