$title-color:#4d4d4d;
$title-size:22px;
$font-title: 'Oswald',
sans-serif;
$font-text: 'Lato',
sans-serif;
$c1: #E1E1E1;
$c2:#575E61;
$c3: #E1E1E1;
$primary-color:$c2;
$secondary-color:$c3;
$title-bg:$secondary-color;
$title-text:#444;
$header-left-bg:$primary-color;
$header-left-text:#fff;
$header-right-bg: $secondary-color;
$header-right-text: #fff;
$line-header-bg: $primary-color;
$line-header-text:#fff;
$line-item-bg:$c1;
$line-item-text: #444;
$footer-bg: $secondary-color;
$footer-text: #444;
:host {
  // Original 800 * 1117
  width: 800px;
  height: 1117px;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #444;
  font-family: $font-text;
}

.header {
  background: $header-right-bg;
  height: 65px;
  overflow: hidden;
  .header-info {
    font-size: 13px;
    background: $header-left-bg;
    color: $header-left-text;
    font-family: $font-title;
    height: 100%;
    padding: 0 60px 0 50px;
    text-transform: uppercase;
  }
  .header-spacer {
    border-bottom: 100px solid $header-right-bg;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 100px;
    margin-left: -42px;
  }
  .header-type {
    flex: 1;
    height: 65px;
    text-align: right;
    .big-title {
      font-size: 92px;
      line-height: 60px;
      color: $header-right-text;
    }
  }
}

.header-separator {
  background: #ccc;
  height: 1px;
}

.content {
  padding: 50px;
  flex: 1;
  .devis-id,
  .coord-name {
    font-family: $font-title;
    color: $title-color;
    font-size: $title-size;
  }
  .coord-tva,
  .coord-street,
  .coord-siret,
  .coord-complement,
  .coord-city,
  .devis-date,
  .devis-validity {
    color: $title-color;
    font-size: 13px;
  }
  .devis-title {
    background: $title-bg;
    color: $title-text;
    padding: 8px;
    font-family: $font-title;
    font-size: 18px;
    text-align: center;
    margin: 40px -50px;
  }
  .line {
    &>div {
      margin-left: 2px;
    }
    &>div:first-child {
      flex: 1;
      margin-left: 0;
    }
    &>div:last-child {
      margin-right: 0;
    }
    &>div:not(:first-child) {
      width: 70px;
    }
  }
  .line-content {
    &>div {
      font-size: 13px;
      padding: 10px;
      margin: 2px 0 0 2px;
      background: $line-item-bg;
      color: $line-item-text;
    }
    &>div:not(:first-child) {
      text-align: center;
    }
  }
  .lines-header {
    &>div {
      padding: 0;
    }
    background: $line-header-bg;
    font-family: $font-title;
    color: $line-header-text;
    &>div {
      text-align: center;
    }
  }
  .signature {
    border: 1px dashed $primary-color;
    padding: 10px;
    p {
      font-size: 10px;
      color: #333;
      margin-bottom: 80px;
    }
  }
  .total {
    .total-header {
      background: $line-header-bg;
      text-align: center;
      padding: 10px;
      width: 215px;
      font-family: $font-title;
      color: $line-header-text;
    }
    .total-label,
    .total-price {
      margin-top: 2px;
      padding: 10px 20px;
      background: $line-item-bg;
      color: $line-item-text;
      font-family: $font-title;
      text-align: center;
    }
    .total-net{
      background: $line-header-bg;
      color: $line-header-text;
    }
    .total-label{
      width:110px;
    }
    .total-price {
      margin-left: 2px;
    }
  }
}

.devis-footer {
  padding: 10px;
  background: $footer-bg;
  color: $footer-text;
  .contact-info {
    font-family: $font-title;    
    &>div {
      font-size: 18px;
    }
  }
  p {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    margin: 0;
  }
}
