<md-toolbar>
    <span>Client</span>
    <span class="toolbar-spacer"></span>
    <button md-button (click)="delete.emit(client)"><md-icon>delete</md-icon></button>
</md-toolbar>
<md-card>
    <p>Nom:{{client.name}}</p>
    <p>Prénom: {{client.firstname}}</p>
    <p>Nom de famille{{client.lastname}}</p>
    <p>Email: {{client.email}}</p>
    <p>Téléphone: {{client.tel}}</p>
    <app-address-list [(addresses)]="client.addresses" (onSaved)="addAddress($event)" (onDelete)="removeAddress($event)"></app-address-list>

</md-card>