<div class="client-details-actions d-flex justify-content-between">
  <button mat-button (click)="unselect.emit()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-button (click)="delete.emit(client)">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-button form="clientForm">
    <mat-icon>save</mat-icon>
  </button>
</div>
<h2>Informations</h2>
<form id="clientForm" #clientForm="ngForm" (ngSubmit)="submitForm(clientForm)" autocomplete="off" class="d-flex flex-column">
  <mat-input-container class="translucide-input">
    <input matInput placeholder="Nom du client" type="text" [(ngModel)]="client.name" name="name" required>
  </mat-input-container>
  <mat-input-container class="translucide-input">
    <input matInput placeholder="Prénom" type="text" [(ngModel)]="client.firstname" name="firstname">
  </mat-input-container>
  <mat-input-container class="translucide-input">
    <input matInput placeholder="Nom de famille" type="text" [(ngModel)]="client.lastname" name="lastname">
  </mat-input-container>
  <mat-input-container class="translucide-input">
    <input matInput placeholder="Email" type="email" [(ngModel)]="client.email" name="email">
  </mat-input-container>
  <mat-input-container class="translucide-input">
    <input matInput placeholder="Téléphone" type="tel" [(ngModel)]="client.tel" name="tel">
  </mat-input-container>
</form>

<h2>Adresses</h2>
<app-address-list [(addresses)]="client.addresses" (onSaved)="saveAddress($event)" (onCreate)="createAddress($event)" (onDelete)="removeAddress($event)"></app-address-list>
