<md-card>
    <div class="d-flex justify-content-around text-center">
        <div class="summary-column d-flex flex-column">
            <div class="title">Potentiel</div>
            <span class="value badge badge-info">{{totalPotential}}€</span>
        </div>
        <div class="summary-column d-flex flex-column">
            <div class="title">Facturé</div>
            <span class="value badge badge-warning">{{totalInvoiced}}€</span>
        </div>
        <div class="summary-column d-flex flex-column">
            <div class="title">Payé</div>
            <span class="value badge badge-success">{{totalPaid}}€</span>
        </div>
    </div>
</md-card>