<md-card>
    <md-card-title>
        <h3>Gains</h3>
    </md-card-title>
    <form #gainForm="ngForm" (ngSubmit)="create(gainForm)" class="list-create-form">
        <md-input-container>
            <input name="title" type="text" mdInput ngModel placeholder="Nouveau gain..." required>
        </md-input-container>
        <button md-button type="submit"><md-icon>add</md-icon></button>
    </form>
    <md-card-content>
        <md-list>
            <md-list-item *ngFor="let gain of elements" (click)="select(gain)" class="selectable" [ngClass]="{'selected-item': selected?.id == gain.id}">
                <h4 md-line [hidden]="selected?.id == gain.id">
                    {{gain.title}}
                </h4>
                <p md-line [hidden]="selected?.id == gain.id">Budget : {{gain.budget ? gain.budget : 'inconnu...'}}€</p>
                <p md-line [hidden]="selected?.id == gain.id">
                    <span [hidden]="!gain.dueDate">Prévu pour {{gain?.dueDate | date}}</span>
                    <span [hidden]="gain.dueDate">Date prévu inconnue...</span>
                    <span *ngIf="isLate(gain)" class="badge badge-danger">En retard</span>
                </p>

                <div md-line *ngIf="selected?.id == gain.id">
                    <form #selectedGainForm="ngForm" (ngSubmit)="updateSelected(selectedGainForm.value)" class="d-flex flex-column">
                        <md-input-container>
                            <input name="title" type="text" mdInput [(ngModel)]="selected.title" placeholder="Libellé du gain..." required>
                        </md-input-container>
                        <md-input-container>
                            <input name="budget" type="number" mdInput [(ngModel)]="selected.budget" placeholder="Budget...">
                        </md-input-container>
                        <material-datepicker placeholder="Date prévu" name="dueDate" [(date)]="selected.dueDate"></material-datepicker>
                        <div class="d-flex justify-content-around">
                            <md-checkbox name="devis" [(ngModel)]="selected.devis">Devis</md-checkbox>
                            <md-checkbox name="invoiced" [(ngModel)]="selected.invoiced">Facturé</md-checkbox>
                            <md-checkbox name="paid" [(ngModel)]="selected.paid">Payé</md-checkbox>
                        </div>
                        <div class="d-flex justify-content-around">
                            <button md-button type="submit"><md-icon>save</md-icon></button>
                            <button md-button type="button" (click)="unselect();$event.stopPropagation()"><md-icon>cancel</md-icon></button>
                            <button md-button type="button" (click)="deleteSelected();$event.stopPropagation()"><md-icon>delete</md-icon></button>
                        </div>
                    </form>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>