:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
}

.history-item-content {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.history-date {
    font-size: 10px;
    color: #888;
}

.history-content-wrapper {
    flex: 1;
    .history-title {
        color: #444;
        font-size: 12px;
    }
    .history-content {
        font-size: 10px;
    }
}

.update-form-wrapper {
    background: #fff;
}