@import '_variables';
:host {
  display: block;
  text-align: center;
  .gain-summary {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &>div>* {
      vertical-align: middle;
    }
    md-icon {
      margin-right: 5px;
    }
  }
}

.gain-details {
  position: absolute;
  text-align: left;
  background: #fff;
  z-index: 1000;
  width: 400px;
  margin-left: -100px;
  margin-top: 10px;
  font-size: 13px;
  p>* {
    vertical-align: middle;
  }
  p>md-icon {
    margin-right: 10px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .gain-details {
    margin-left: 0;
    width: 300px;
  }
}
