<div class="gain-summary" (mouseenter)="showDetail()" (mouseleave)="hideDetail()">
  <div class="total-waiting" *ngIf="totalWaiting">
    <mat-icon>hourglass_empty</mat-icon>
    <span>{{totalWaiting}}€</span>
  </div>
  <div class="total-paid" *ngIf="paidInvoices">
    <mat-icon class="text-success">monetization_on</mat-icon>
    <span>{{paidInvoices}}€</span>
  </div>
</div>
<div class="gain-details rounded mat-elevation-z4 p-2" [@detailAnim]="detailState">
  <p *ngIf="waitingDevis">
    <mat-icon class="text-info">hourglass_empty</mat-icon>
    <span>Devis en attente de validation : </span>
    <span class="small">{{waitingDevis}}€</span>
  </p>
  <p *ngIf="acceptedDevis">
    <mat-icon class="text-success">check_circle</mat-icon>
    <span>Devis validés : </span>
    <span>{{acceptedDevis}}€</span>
  </p>
  <p *ngIf="waitingInvoices">
    <mat-icon class="text-warning">hourglass_empty</mat-icon>
    <span>Factures en attente de paiement : </span>
    <span class="small">{{waitingInvoices}}€</span>
  </p>
  <p *ngIf="paidInvoices">
    <mat-icon class="text-success">monetization_on</mat-icon>
    <span>Chiffre d'affaire : </span>
    <span class="small">{{paidInvoices}}€</span>
  </p>
</div>
