<div class="gain-summary" (mouseenter)="showDetail()" (mouseleave)="hideDetail()">
  <div *ngIf="totalWaiting">
    <md-icon class="text-info">hourglass_empty</md-icon><span>{{totalWaiting}}€</span>
  </div>
  <div *ngIf="paidInvoices">
    <md-icon class="text-success">monetization_on</md-icon><span>{{paidInvoices}}€</span>
  </div>
</div>
<div class="gain-details rounded mat-elevation-z4 p-2" [@detailAnim]="detailState">
  <p *ngIf="waitingDevis">
    <md-icon class="text-info">hourglass_empty</md-icon><span>Devis en attente de validation : </span><span class="small">{{waitingDevis}}€</span>
  </p>
  <p *ngIf="acceptedDevis">
    <md-icon class="text-success">check_circle</md-icon><span>Devis validés : </span><span>{{acceptedDevis}}€</span>
  </p>
  <p *ngIf="waitingInvoices">
    <md-icon class="text-warning">hourglass_empty</md-icon><span>Factures en attente de paiement : </span><span class="small">{{waitingInvoices}}€</span>
  </p>
  <p *ngIf="paidInvoices">
    <md-icon class="text-success">monetization_on</md-icon><span>Chiffre d'affaire : </span><span class="small">{{paidInvoices}}€</span>
  </p>
</div>
