<div class='d-flex justify-content-around' *ngIf="kaban">
    <md-card *ngFor='let group of kaban.groups; let i = index;'>
        <md-card-title>{{group.name}}</md-card-title>
        <form #taskForm="ngForm" (ngSubmit)="createTask(taskForm)" *ngIf="i == 0" class="create-task-form">
            <md-input-container>
                <input name="title" type="text" mdInput ngModel placeholder="Nouvelle tâche..." required>
            </md-input-container>
        </form>
        <div class="kaban-column" [dragula]='"nested-bag"' [dragulaModel]='kaban.groups[i].items' [attr.column-id]="i">
            <div class="kaban-column-list-item" *ngFor='let task of group.items' [attr.task-id]="task.id">{{task.title}}</div>
        </div>
    </md-card>
</div>