.inplace-edit-icon {
  float: right;
  margin-right: -24px;
  margin-top: -24px;
  opacity: 0;
  color: #e4e4e4;
  transition: opacity 200ms;
}

.inplace-output {
  transition: background 200ms;
}

.inplace-output:hover {
  background-color: #454d50;
  cursor: pointer;
  .inplace-edit-icon {
    opacity: 1;
  }
}
