<div class="d-flex flex-column justify-content-between h-100">
  <form>
    <div class="p-4 d-flex flex-column">
      <mat-input-container>
        <input matInput name="title" placeholder="Nom" [(ngModel)]="task.title">
      </mat-input-container>
      <mat-input-container>
        <textarea matInput name="description" placeholder="Description" [(ngModel)]="task.description"></textarea>
      </mat-input-container>
      <p class="createdAt">Créée le {{task.createdAt | date}}</p>
      <div class="mt-4 d-flex align-items-center justify-content-around">
        <button mat-button (click)="saveTask()">Sauvegarder</button>
        <button mat-button (click)="cancelModif()">Annuler</button>
      </div>
    </div>
  </form>

  <div class="p-4 d-flex flex-column">
    <button mat-button (click)="deleteTask()">Supprimer</button>
  </div>
</div>
