<div class="d-flex flex-column justify-content-between h-100">
    <form>
        <div class="p-4 d-flex flex-column">
            <md-input-container>
                <input mdInput name="title" placeholder="Nom" [(ngModel)]="task.title">
            </md-input-container>
            <md-input-container>
                <textarea mdInput name="description" placeholder="Description" [(ngModel)]="task.description"></textarea>
            </md-input-container>
            <p class="createdAt">Créée le {{task.createdAt | date}}</p>
            <div class="mt-4 d-flex align-items-center justify-content-around">
                <button md-button (click)="saveTask()">Sauvegarder</button>
                <button md-button (click)="cancelModif()">Annuler</button>
            </div>
        </div>
    </form>

    <div class="p-4 d-flex flex-column">
        <button md-button (click)="deleteTask()">Supprimer</button>
    </div>
</div>