<div *ngIf="!selected">
  <button class="address-list-item" md-button *ngFor="let address of addresses" (click)="select(address)">{{address | myAddress}}</button>
  <div *ngIf="addresses.length == 0" class="p-2">Aucune addresse...</div>
  <div class="d-flex justify-content-end mt-2">
    <button (click)="create()" md-button>Nouvelle adresse</button>
  </div>
</div>
<form id="addressForm" #addressForm="ngForm" (ngSubmit)="save(addressForm)" autocomplete="off" *ngIf="selected" class="d-flex flex-column">
  <md-input-container class="translucide-input">
    <input mdInput [ngModel]="selected?.street" name="street" type="text" required placeholder="Rue">
  </md-input-container>
  <md-input-container class="translucide-input">
    <input mdInput [ngModel]="selected?.complement" name="complement" type="text" placeholder="Complément">
  </md-input-container>
  <md-input-container class="translucide-input">
    <input mdInput [ngModel]="selected?.zipcode" name="zipcode" type="text" required placeholder="Code postal">
  </md-input-container>
  <md-input-container class="translucide-input">
    <input mdInput [ngModel]="selected?.city" name="city" type="text" required placeholder="Ville">
  </md-input-container>
  <div class="d-flex justify-content-between">
    <button (click)="unselect()" md-button [hidden]="!selected"><md-icon>arrow back</md-icon></button>
    <div class="d-flex justify-content-end">
      <button class="flex-last" type="submit" md-button><md-icon>save</md-icon></button>
      <button (click)="delete(selected)" md-button *ngIf="!creation"><md-icon>delete</md-icon></button>
    </div>
  </div>
</form>
