$height: 30px;
:host {
  display: inline-block;
  margin-bottom: 5px;
}

.note {
  min-height: $height;
  background: #fff;
  padding: 0;
  cursor: pointer;
}

.note.priority-1 {
  background: #f0ad4e;
}

.note.priority-2 {
  background: #d9534f;
}

.note.priority-1,
.note.priority-2 {
  .note-content {
    color: #fff;
  }
  .note-actions md-icon {
    color: #444;
  }
}

.note-content {
  padding: 2px 10px;
}

form {
  background: #fff;
}

.note-actions {
  height: 30px;
  margin-top: 26px;
  position: absolute;
}

md-button-toggle-group {
  box-shadow: none;
}
