<div class="note-actions rounded" *ngIf="actionsShown">
  <button (click)="toggleEdit()" mat-mini-fab class="mx-2">
    <mat-icon>mode_edit</mat-icon>
  </button>
  <button (click)="delete.emit(note)" mat-mini-fab>
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div class="note rounded mat-elevation-z2 priority-{{note.priority}}" [ngClass]="{'mat-elevation-z3': actionsShown}">
  <form id="editForm" #editForm="ngForm" class="rounded mat-elevation-z2" (ngSubmit)="editNote(editForm)" *ngIf="edition; else elseTemplate"
    (keydown)="keyDownFunction($event, editForm)">
    <div class="p-2 d-flex">
      <div class="d-flex flex-column">
        <mat-input-container>
          <input matInput [(ngModel)]="editedNote.title" placeholder="Pense bête" name="name">
        </mat-input-container>
        <mat-button-toggle-group [(ngModel)]="editedNote.priority" value="0" name="priority">
          <mat-button-toggle value="0" matTooltip="Priorité normale" class="text-info">
            <mat-icon>arrow_downward</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="1" matTooltip="Priorité importante" class="text-warning">
            <mat-icon>arrow_upward</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="2" matTooltip="Priorité urgente" class="text-danger">
            <mat-icon>arrow_upward</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="d-flex flex-column justify-content-between">
        <button (click)="toggleEdit()" mat-button class="icon-only">
          <mat-icon>cancel</mat-icon>
        </button>
        <button type="submit" mat-button class="icon-only text-success">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <ng-template #elseTemplate>
    <div class="note-content">
      {{note.title}}
    </div>
  </ng-template>
</div>
