@import 'variables';
.panel {
    background: #fff;
    border: 1px solid $border-color;
    padding: 10px;
    display: inline-block;
    color: $text-color;
}

.square-list {
    display: flex;
    padding: 10px;
    .square-list-item {
        background: #fff;
        width: 300px;
        height: 430px;
        margin: 10px;
        overflow: hidden;
        cursor: pointer;
        transition: transform 100ms;
        &:hover {
            transform: scale(1.05);
            transform-origin: center center;
        }
    }
}