@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/utilities';
@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import '~@angular/material/theming';
@import 'variables';
@include mat-core();
$md-gray: ( 50: #e9e9ea, 100: #c8c9ca, 200: #a3a5a7, 300: #7e8184, 400: #636669, 500: #474b4f, 600: #404448, 700: #373b3f, 800: #2f3336, 900: #202326, A100: #77c5f9, A200: #46b0f7, A400: #0b9dff, A700: #0090f1, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #ffffff, A700: #ffffff, ));
$md-green: ( 50: #f0f8e6, 100: #dbedc2, 200: #c3e199, 300: #aad470, 400: #98cb51, 500: #86c232, 600: #7ebc2d, 700: #73b426, 800: #69ac1f, 900: #569f13, A100: #e5ffd1, A200: #c9ff9e, A400: #acff6b, A700: #9eff52, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$md-gold: ( 50: #fcf7ea, 100: #f6ebc9, 200: #f1dea6, 300: #ebd082, 400: #e6c667, 500: #e2bc4c, 600: #dfb645, 700: #daad3c, 800: #d6a533, 900: #cf9724, A100: #ffffff, A200: #fff1d6, A400: #ffdfa3, A700: #ffd68a, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$md-canetton: ( 50: #e9f7f5, 100: #c9ebe6, 200: #a5ded6, 300: #80d1c5, 400: #65c7b8, 500: #4abdac, 600: #43b7a5, 700: #3aae9b, 800: #32a692, 900: #229882, A100: #d5fff7, A200: #a2ffec, A400: #6fffe2, A700: #56ffdd, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$md-vermillon: ( 50: #ffe9e4, 100: #fec9ba, 200: #fea58d, 300: #fd805f, 400: #fc653c, 500: #fc4a1a, 600: #fc4317, 700: #fb3a13, 800: #fb320f, 900: #fa2208, A100: #ffffff, A200: #fff0ef, A400: #ffc1bc, A700: #ffa9a2, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$md-gunmetal: ( 50: #e5e6e7, 100: #bdc2c3, 200: #91999b, 300: #657073, 400: #445155, 500: #233237, 600: #1f2d31, 700: #1a262a, 800: #151f23, 900: #0c1316, A100: #59d0ff, A200: #26c1ff, A400: #00adf2, A700: #009bd9, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #ffffff, ));
$md-rustyred: ( 50: #f3e9e8, 100: #e0c9c7, 200: #cca5a1, 300: #b7817b, 400: #a7665f, 500: #984b43, 600: #90443d, 700: #853b34, 800: #7b332c, 900: #6a231e, A100: #ffada7, A200: #ff7e74, A400: #ff4e41, A700: #ff3728, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #ffffff, ));
// mandatory stuff for theming
$bv-pp-primary: mat-palette($md-gray);
$bv-pp-accent: mat-palette($md-green);
// include the custom theme components into a theme object
$bv-pp-theme: mat-light-theme($bv-pp-primary, $bv-pp-accent);
// include the custom theme object into the angular material theme
@include angular-material-theme($bv-pp-theme);
// body or wrapper class
.mat-button-toggle,
.mat-button-base,
.mat-button,
.mat-raised-button,
.mat-fab,
.mat-icon-button,
.mat-mini-fab,
.mat-card,
.mat-checkbox,
.mat-input-container,
.mat-list,
.mat-menu-item,
.mat-radio-button,
.mat-select,
.mat-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content,
.mat-simple-snackbar,
.mat-tab-label,
.mat-slide-toggle-content,
.mat-toolbar,
.mat-tooltip {
    // font-family: $text-font;
    // color: $text-color;
}

.mat-button-toggle,
.mat-button-base,
.mat-button,
.mat-raised-button,
.mat-fab,
.mat-icon-button {
    text-transform: uppercase;
}

.mat-input-placeholder-wrapper {
    font-size: 13px;
}