.grow-1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.bg-white {
  background: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.selectable {
  transition: background 300ms;
}

.selectable:not(.selected-item):hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

@mixin border-gradient($startColor, $endColor, $width, $height, $position) {
  background-image: -webkit-linear-gradient(to right, $startColor, $endColor);
  background-image: linear-gradient(to right, $startColor, $endColor);
  background-repeat: no-repeat;
  background-size: $width $height;
  background-position: $position;
}

.light-scrollbar::-webkit-scrollbar {
  width: 10px; // background-color: rgba(255, 255, 255, 0.5);
}

.light-scrollbar::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.mat-button.icon-only {
  padding: 0;
  min-width: 40px;
}
