.grow-1 {
    flex-grow: 1;
}

.bg-white {
    background: white;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.selectable {
    transition: background 300ms;
}

.selectable:not(.selected-item):hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

@mixin border-gradient($color, $width, $height) {
    background-image: linear-gradient(to right, transparentize($color, 0.8), $color, transparentize($color, 0.8));
    background-repeat: no-repeat;
    background-size: $width $height;
    background-position: center bottom;
}