$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$body-color:#efefef;
$text-color:#A9A9A9;
$primary-color:#4ABDAC;
$accent-color:#FC4A1A;
$text-color:#444;
$text-title:#222;
$border-color:#ddd;