$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$gray-1:rgba(50, 50, 50, 1);
$gray-2:rgba(75, 75, 75, 1);
$gray-3:rgba(100, 100, 100, 1);
$gray-4:rgba(125, 125, 125, 1);
$gray-5:rgba(150, 150, 150, 1);
$gray-6:rgba(175, 175, 175, 1);
$gray-7:rgba(200, 200, 200, 1);
$body-bg: #575e61;
$card-bg: #424242;
$color1:#222629;
$color2:#474B4F;
$color3:#86c232;
$color4:#318927;
$color5:#5c98fb;
$text-color:#efefef;
$title-font:'Oswald',
sans-serif;
$text-font: 'Lato',
sans-serif;
$header-height:60px;
// -------------------
// Theme colors
$color-primary:#7AC0E2;
$color-secondary:#7AC0E2;
// -------------------
// State colors
$color-info:#0275d8;
$color-warning:#f0ad4e;
$color-danger:#d9534f;
$color-success:#5cb85c;
// -------------------
// Project list colors
$project-list-color-1:$gray-5;
$project-list-color-2:#3399CC;
$project-list-color-3:$color-info;
$project-list-color-4:#336699;
$project-list-color-5:$gray-1;
