$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$body-color:#f0f3f4;
$text-color:#A9A9A9;
$primary-color:#4ABDAC;
$accent-color:#FC4A1A;
$text-color:#444;
$text-title:#222;
$border-color:#ddd;
$title-font:'Oswald',
sans-serif;
$text-font: 'Lato',
sans-serif;
$header-height:65px;
$subheader-height: 50px;