@import 'variables';
@mixin project-details-container() {
  width: 100%;
  display: block;
  min-height: calc(100vh - #{$header-height});
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin main-height() {
  min-height: calc(100vh - #{$header-height});
}
