@import 'variables';
@mixin project-details-container() {
    width: 100%;
    // height: calc(100vh - #{$header-height} - #{$subheader-height});
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}