<nav class="mat-elevation-z6">
    <div [@apparitionAnimation]="'true'" class="d-flex justify-content-center">
        <a [routerLink]="['./dashboard']" routerLinkActive="active" title="Dashboard">
            <md-icon>dashboard</md-icon>
            <span class="hidden-sm-down">Dashboard</span>
        </a>
        <a [routerLink]="['./tasks']" routerLinkActive="active" title="Gestion des tâches">
            <md-icon>list</md-icon>
            <span class="hidden-sm-down">Tâches</span>
        </a>
        <a [routerLink]="['./devis']" routerLinkActive="active" title="Devis">
            <md-icon>assignment</md-icon>
            <span class="hidden-sm-down">Devis</span>
        </a>
        <a [routerLink]="['./invoices']" routerLinkActive="active" title="Factures">
            <md-icon>monetization_on</md-icon>
            <span class="hidden-sm-down">Factures</span>
        </a>
        <a [routerLink]="['./settings']" routerLinkActive="active" title="Options">
            <md-icon>settings</md-icon>
            <span class="hidden-sm-down">Options</span>
        </a>
    </div>
</nav>
<div class="main-content">
    <router-outlet></router-outlet>
</div>