@import 'variables';
:host {
    flex: 1;
}

/deep/ .project-state-buttons {
    margin: 0 10px;
    background: #fff;
}

nav {
    position: fixed;
    width: 100%;
    background: #fff;
    a {
        color: #666;
        transition: background-size 250ms, color 250ms;
        text-decoration: none;
        background-image: linear-gradient(to right, lighten($primary-color, 50), $primary-color, lighten($primary-color, 50));
        background-repeat: no-repeat;
        background-size: 0% 2px;
        background-position: center bottom;
        &:hover,
        &:focus,
        &.active {
            background-size: 100% 2px;
            outline: 0;
            color: $primary-color;
        }
        &.active {
            background-image: linear-gradient(to right, $primary-color, $primary-color);
        }
    }
    &>div {
        height: $subheader-height;
    }
}

nav a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    padding: 0 10px;
    &>span {
        margin-left: 10px;
    }
}

.main-content {
    margin-top: $subheader-height;
}

$nav-background:#282828;
$nav-color:#fff;
.side-nav-bar {
    width: 120px;
    background: $nav-background;
    padding: 20px 0;
    border-right: 3px solid $primary-color;
    position: relative;
    z-index: 1000;
    a {
        transition: background-color 300ms;
        color: $nav-color;
        display: block;
        margin: 10px 0;
        padding: 7px 0;
        text-align: center;
        text-decoration: none;
        span {
            display: block;
            font-size: 13px;
        }
        md-icon {
            font-size: 36px;
            height: 36px;
            width: 36px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.02);
        }
        &.active {
            background-color: rgba(255, 255, 255, 0.05);
            border-left: 3px solid $primary-color;
        }
    }
}