.create-devis-item {
    display: flex;
    justify-content: center;
    .mat-button {
        flex: 1;
    }
    /deep/ .mat-button .mat-icon {
        display: block;
        margin: 0 auto;
    }
}