mat-button-toggle-group {
  box-shadow: none;
}

.mat-button-toggle-checked {
  background: none;
  border: 1px solid;
}

@media (max-width: 767px) {
   :host /deep/ .mat-button-toggle-label-content span {
    display: none;
  }
}
