<div>
  <form #noteForm="ngForm" (ngSubmit)="createNote(noteForm)" autocomplete="false">
    <div class="p-2 d-flex flex-column">
      <mat-button-toggle-group [ngModel]="0" value="0" name="priority">
        <mat-button-toggle value="0" matTooltip="Priorité normale" class="text-info">
          <mat-icon>arrow_downward</mat-icon>
          <span>Normal</span>
        </mat-button-toggle>
        <mat-button-toggle value="1" matTooltip="Priorité importante" class="text-warning">
          <mat-icon>arrow_upward</mat-icon>
          <span>Important</span>
        </mat-button-toggle>
        <mat-button-toggle value="2" matTooltip="Priorité urgente" class="text-danger">
          <mat-icon>arrow_upward</mat-icon>
          <span>Urgent</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-input-container>
        <input name="title" type="text" matInput ngModel placeholder="Nouvelle note..." required>
      </mat-input-container>
      <!--<button mat-button (click)="cancelCreation(noteForm)">
        <mat-icon>cancel</mat-icon>
      </button>-->
      <button mat-raised-button type="submit" class="align-self-end">
        Ajouter
      </button>
    </div>
  </form>
</div>
