md-card-header .mat-card-header-text {
    margin-left: 0;
}

.list-group {
    max-width: 350px;
}

.note-item.selected {
    transition: background-color 500ms;
    background-color: #ddd;
}

.action-panel {
    height: 0;
    overflow: hidden;
    transition: height 200ms;
}

.action-panel.visible {
    height: 50px;
}

.action-panel>div {
    display: flex;
    justify-content: space-between;
}