<div [@slideApparitionAnimation]="'true'">
  <h2>Informations générales</h2>
  <form #profileForm="ngForm"
        (ngSubmit)="saveProfile(profileForm)"
        autocomplete="off"
        *ngIf="!(loading$ | async)"
        class="d-flex flex-column">
    <mat-input-container class="translucide-input">
      <input matInput
             name="lastname"
             type="text"
             placeholder="Nom"
             [(ngModel)]="profile.lastname"
             required>
    </mat-input-container>
    <mat-input-container class="translucide-input">
      <input matInput
             name="firstname"
             type="text"
             placeholder="Prénom"
             [(ngModel)]="profile.firstname"
             required>
    </mat-input-container>
    <mat-input-container class="translucide-input">
      <input matInput
             name="email"
             type="email"
             placeholder="Email"
             [(ngModel)]="profile.email"
             required>
    </mat-input-container>
    <mat-input-container class="translucide-input">
      <input matInput
             name="firstname"
             type="tel"
             placeholder="Téléphone"
             [(ngModel)]="profile.phone">
    </mat-input-container>
    <mat-input-container class="translucide-input">
      <input matInput
             name="siret"
             placeholder="Numéro de siret"
             [(ngModel)]="profile.siret">
    </mat-input-container>
    <mat-input-container class="translucide-input">
      <input matInput
             name="tvaIntra"
             placeholder="N° TVA Intra"
             [(ngModel)]="profile.tvaIntra">
    </mat-input-container>
    <mat-form-field>
      <input matInput
             [(ngModel)]="profile.startFiscalYear"
             name="startFiscalYear"
             [matDatepicker]="picker"
             placeholder="Début exercice comptable">
      <mat-datepicker-toggle matSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker
                      startView="month"></mat-datepicker>
    </mat-form-field>
    <div class="text-right">
      <button mat-raised-button
              class="blue"
              type="submit">Sauvegarder</button>
    </div>
  </form>
  <h2>Mes adresses</h2>
  <app-address-list [addresses]="profile.addresses"
                    (onCreate)="createAdresse($event)"
                    (onSaved)="saveAddress($event)"
                    (onDelete)="deleteAddress($event)"
                    *ngIf="!(loading$ | async)"></app-address-list>
</div>