@import '_variables';
:host {
    display: block;
    min-width: 400px;
}

.summary-title {
    font-family: $title-font;
    text-transform: uppercase;
    text-align: center;
    background: $color3;
    color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 100;
    .mat-icon,
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.summary-content {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .summary-content-item {
        background: #fff;
        min-width: 50px;
        .mat-icon {
            margin: 10px;
        }
        .mat-icon,
        span {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            font-family: $title-font;
            color: $color1;
            margin-right: 10px;
        }
        .summary-content-item-line {
            width: 2px;
            background: #fff;
            position: absolute;
            height: 70px;
        }
    }
}