@import 'utils';
@import 'variables';
:host {
  flex: 1;
  display: flex;
}

h2 {
  font: 20px $title-font;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

.kanban-column-wrapper {
  flex-grow: 1;
  width: 33%;
}

.kanban-column-wrapper+.kanban-column-wrapper {
  margin-left: 20px;
  border-left: 1px solid #dadada;
}

.create-task-form {
  mat-input-container {
    display: block;
  }
}
