<app-project-create></app-project-create>

<div class="d-flex align-content-start flex-wrap">
    <md-card *ngFor="let p of projects" [routerLink]="['./', p.id]" class="project-item d-flex flex-column justify-content-between">
        <md-card-header>
            <md-card-title>
                <h3>{{p.name}}</h3>
            </md-card-title>
            <md-card-subtitle>{{p.description}}</md-card-subtitle>
        </md-card-header>
        <md-card-content class="d-flex flex-column">
            <span class="project-progress">{{p.progress}}%</span>
            <span class="badge badge-default">{{ProjectState[p.state]}}</span>
        </md-card-content>
        <md-card-actions>
            <small class="text-muted" *ngIf="p.plannedEndDate">Prévu pour le {{p.plannedEndDate | date}}</small>
            <small class="text-muted" *ngIf="!p.plannedEndDate">Aucune date d'échéance</small>
            <small class="badge badge-danger" *ngIf="isLate(p)">En retard</small>
            <md-progress-bar [value]="p.progress"></md-progress-bar>
        </md-card-actions>
    </md-card>
</div>