<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-toolbar class="mat-elevation-z2 mb-4">
        <button mat-button (click)="goBack()" matTooltip="Revenir aux factures">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="toolbar-spacer"></span>
        <button (click)="remove()" class="text-danger" mat-button matTooltip="Supprimer cette facture">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button (click)="importDevis()" matTooltip="Importer depuis un devis">
          <mat-icon class="mr-2">library_add</mat-icon>
        </button>
        <button (click)="download()" mat-button matTooltip="Télécharger en PDF">
          <mat-icon>file_download</mat-icon>
        </button>
        <button form="invoiceForm" class="text-success" mat-button matTooltip="Sauvegarder les modifications">
          <mat-icon>save</mat-icon>
        </button>
      </mat-toolbar>

      <div class="devis-form mb-4">

        <form id="invoiceForm" #invoiceForm="ngForm" (ngSubmit)="submitForm(invoiceForm)" autocomplete="off">
          <div class="d-flex flex-column">
            <div>
              <h3>Facture</h3>
              <div class="title-wrapper">
                <mat-form-field>
                  <input matInput name="title" [(ngModel)]="invoice.title" type="text" placeholder="Titre de la facture" required>
                </mat-form-field>
              </div>

              <div class="d-flex flex-column flex-sm-row justify-content-between align-items-stretch align-items-sm-baseline">
                <mat-form-field>
                  <input matInput placeholder="Numéro de facture" [(ngModel)]="invoice.invoiceId" name="invoiceId" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="createDatePicker" placeholder="Date de création" [(ngModel)]="invoice.createDate" name="createDate">
                  <mat-datepicker-toggle matSuffix [for]="createDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #createDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="validityDatePicker" placeholder="Valide jusqu'à" [(ngModel)]="invoice.validityDate" name="validityDate">
                  <mat-datepicker-toggle matSuffix [for]="validityDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #validityDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-select class="mt-3" [(ngModel)]="invoice.state" placeholder="Etat" name="state" (change)="onStateChange()">
                  <mat-option [value]="invoiceState.DRAFT">Brouillon</mat-option>
                  <mat-option [value]="invoiceState.PENDING">En attente</mat-option>
                  <mat-option [value]="invoiceState.PAID">Payé</mat-option>
                  <mat-option [value]="invoiceState.ABANDONED">Abandonnée</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="mt-3 d-flex flex-column flex-sm-row justify-content-between">
              <div>
                <h3>Mes coordonnées</h3>
                <app-inplace>
                  <div class="inplace-output">
                    <div>{{invoice.userName}}</div>
                    <div>{{invoice.siret}}</div>
                    <div>{{invoice.userPhone}}</div>
                    <div>{{invoice.userMail}}</div>
                    <div *ngIf="invoice.userName == null && invoice.userPhone == null && invoice.userMail == null && invoice.siret == null">
                      Saisissez vos coordonnées
                    </div>
                  </div>
                  <div class="inplace-input d-flex flex-column">
                    <mat-form-field>
                      <input matInput name="userName" [(ngModel)]="invoice.userName" type="text" placeholder="Nom et prénom">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput name="userMail" [(ngModel)]="invoice.userMail" type="email" placeholder="Email">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput name="siret" [(ngModel)]="invoice.siret" type="text" placeholder="Numéro de siret">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput name="userPhone" [(ngModel)]="invoice.userPhone" type="tel" placeholder="Téléphone">
                    </mat-form-field>
                  </div>
                </app-inplace>
              </div>
              <div>
                <h3>Mon adresse</h3>
                <app-inplace>
                  <div class="inplace-output">
                    <div>{{invoice.userAddress.street}}</div>
                    <div>{{invoice.userAddress.complement}}</div>
                    <div>{{invoice.userAddress.zipcode}} {{invoice.userAddress.city}}</div>
                    <div *ngIf="invoice.userAddress.street == null && invoice.userAddress.city == null && invoice.userAddress.zipcode == null">
                      Saisissez votre adresse
                    </div>
                  </div>
                  <div class="inplace-input">
                    <app-address-input [(street)]="invoice.userAddress.street" [(city)]="invoice.userAddress.city" [(zipcode)]="invoice.userAddress.zipcode"></app-address-input>
                  </div>
                </app-inplace>
              </div>
              <div>
                <h3>Client</h3>
                <app-inplace>
                  <div class="inplace-output">
                    <div>{{invoice.clientName}}</div>
                    <div>{{invoice.clientAddress.street}}</div>
                    <div>{{invoice.clientAddress.complement}}</div>
                    <div>{{invoice.clientAddress.zipcode}} {{invoice.clientAddress.city}}</div>
                    <div *ngIf="invoice.clientName == null && invoice.clientAddress.street == null && invoice.clientAddress.city==null && invoice.clientAddress.zipcode == null">
                      Saisissez les coordonnées du client
                    </div>
                  </div>
                  <div class="inplace-input">
                    <mat-form-field class="d-block">
                      <input matInput name="clientName" [(ngModel)]="invoice.clientName" type="text" placeholder="Nom du client">
                    </mat-form-field>
                    <app-address-input [(street)]="invoice.clientAddress.street" [(city)]="invoice.clientAddress.city" [(zipcode)]="invoice.clientAddress.zipcode"></app-address-input>
                  </div>
                </app-inplace>
              </div>
            </div>

            <h2 class="mt-3">Prestations</h2>
            <div [dragula]='"lines"' [dragulaModel]='invoice.lines' class="lines-wrapper" [ngClass]="{'empty' : invoice.lines.length===0}">
              <div *ngFor="let line of invoice.lines" class="devis-line rounded row align-items-baseline mb-2">
                <div class="col-5">
                  <mat-form-field>
                    <textarea matInput [(ngModel)]="line.content" type="text" [ngModelOptions]="{standalone: true}" class="line-content"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field>
                    <input matInput [(ngModel)]="line.quantity" (ngModelChange)="updateLinePrice(line)" type="number" [ngModelOptions]="{standalone: true}"
                      class="line-quantity">
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field>
                    <input matInput [(ngModel)]="line.unitPrice" (ngModelChange)="updateLinePrice(line)" type="number" [ngModelOptions]="{standalone: true}"
                      class="line-unit">
                    <span matSuffix>€</span>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <div class="line-total">{{line.totalPrice}}
                    <span [hidden]="line.totalPrice == null">€</span>
                  </div>
                </div>
                <div class="col-1">
                  <mat-icon class="devis-line-drag-handle">drag_handle</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </form>

        <form #lineForm="ngForm" (ngSubmit)="submitLine(lineForm)" autocomplete="off">
          <div class="create-line-wrapper row align-items-baseline">
            <div class="col-5">
              <mat-form-field>
                <textarea matInput ngModel name="content" type="text" placeholder="Détail de la prestation" required class="line-content"></textarea>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <input matInput ngModel name="quantity" type="number" placeholder="Quantité" class="line-quantity">
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <input matInput ngModel name="unitPrice" type="number" placeholder="Prix unitaire" class="line-unit">
                <span matSuffix>€</span>
              </mat-form-field>
            </div>
            <div class="col-3 text-right">
              <button mat-button type="submit">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col">
      <app-invoice-preview [invoice]="invoice" *ngIf="invoice" class="mat-elevation-z2 devis-preview"></app-invoice-preview>
    </div>
  </div>
</div>
