@import '../../project-details-variables';
:host {
  @include project-details-container;
}

.devis-form {
  margin: 0 auto;
  max-width: 800px;
}

app-invoice-preview {
  margin: 0 auto;
}

app-address-input {
  display: flex;
  flex-direction: column;
}

.title-wrapper {
  .mat-input-container {
    display: block;
  }
}

.lines-wrapper {
  min-height: 50px;
  .devis-line {
    background: #e4e4e4;
    .line-content {
      width: 300px;
    }
    .line-quantity,
    .line-unit,
    .line-total {
      width: 70px;
      text-align: center;
    }
  }
  .devis-line-header {
    padding-right: 24px;
    font-weight: bold;
  }
  .devis-line-drag-handle {
    cursor: pointer;
  }
  &.empty {
    min-height: 0;
  }
  md-input-container {
    display: block;
  }
}

.create-line-wrapper {
  md-input-container {
    display: block;
  }
  .line-content {
    width: 300px;
  }
  .line-quantity,
  .line-unit {
    width: 100px;
  }
  button {
    padding: 0;
    min-width: 24px;
  }
}

:host /deep/ {
  app-inplace,
  app-inplace>div {
    display: block!important;
  }
  app-inplace>div>button {
    float: right;
  }
}
