<div class="d-flex align-items-center flex-wrap">
    <button md-button (click)="changeState(allState.PROSPECTION)" [ngClass]="{'active' : state === allState.PROSPECTION}">Prospection</button>
    <md-icon>keyboard_arrow_right</md-icon>

    <button md-button (click)="changeState(allState.DEVIS)" [ngClass]="{'active' : state === allState.DEVIS}">Devis</button>
    <md-icon>keyboard_arrow_right</md-icon>

    <button md-button (click)="changeState(allState.PRODUCTION)" [ngClass]="{'active' : state === allState.PRODUCTION}">Production</button>
    <md-icon>keyboard_arrow_right</md-icon>

    <button md-button (click)="changeState(allState.FACTURATION)" [ngClass]="{'active' : state === allState.FACTURATION}">Facturé</button>
    <md-icon>keyboard_arrow_right</md-icon>

    <button md-button (click)="changeState(allState.FINISHED)" [ngClass]="{'active' : state === allState.FINISHED}">Payé</button>
</div>