@import 'variables';
:host /deep/ {
  .mat-button-toggle-group {
    box-shadow: none;
  }
  .mat-button-toggle {
    border-radius: 50%;
    margin: 0 5px;
  }
  .mat-button-toggle-label-content {
    width: 36px;
    padding: 0 5px;
  }
}
