@import 'variables';
$state-btn-height: 50px;
$state-btn-accent-color: $primary-color;
$state-btn-active-color: #e0e0e0;
$state-btn-bg-color: #ffffff;
.project-state-buttons {
    margin: 0;
    height: $state-btn-height;
    width: 100%;
    box-shadow: none;
    /deep/ md-button-toggle {
        text-align: center;
        flex: 1;
        label {
            margin-bottom: 0;
            .mat-button-toggle-label-content {
                height: $state-btn-height;
                line-height: $state-btn-height;
            }
        }
        &:not(:last-child):after,
        &:not(:last-child):before {
            content: "";
            display: inline-block;
            border-width: $state-btn-height / 2;
            border-style: solid;
            width: 0px;
            height: 0px;
            left: 100%;
            top: -1px;
            position: absolute;
            z-index: 1;
            border-color: transparent transparent transparent $state-btn-accent-color;
        }
        &.mat-button-toggle-checked:not(:last-child):before {
            border-color: transparent transparent transparent $state-btn-active-color;
        }
        &:not(:last-child):before {
            border-width: ($state-btn-height / 2) - 2;
            display: block;
            border-color: transparent transparent transparent $state-btn-bg-color;
            z-index: 2;
            top: 1px;
        }
    }
}