<md-button-toggle-group [value]="state" (change)="onChange($event)">
  <md-button-toggle value="0" mdTooltip="En prospection" class="state-0">
    <md-icon>explore</md-icon>
  </md-button-toggle>
  <md-button-toggle value="1" mdTooltip="Attente de validation du devis" class="state-1">
    <md-icon>assignment</md-icon>
  </md-button-toggle>
  <md-button-toggle value="2" mdTooltip="En production" class="state-2">
    <md-icon>list</md-icon>
  </md-button-toggle>
  <md-button-toggle value="3" mdTooltip="Attente de paiement" class="state-3">
    <md-icon>attach_money</md-icon>
  </md-button-toggle>
  <md-button-toggle value="4" mdTooltip="Projet terminé" class="state-4">
    <md-icon>check</md-icon>
  </md-button-toggle>
</md-button-toggle-group>
