@import 'variables';
md-card {
    padding: 0;
    margin-bottom: 10px;
}

.summary-column {
    flex-grow: 1;
}

.title {
    font-family: $title-font;
    padding: 10px;
}

.value {
    padding: 20px 10px;
    border-radius: 0;
    font-size: 30px;
}