:host {
  background: #fff;
  color: #444;
  display: block;
  margin-bottom: 10px;
  display: flex;
}

.notif-icon {
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
}

.notif-message {
  font-size: 13px;
  padding: 8px;
  color: #666;
  align-self: center;
}

.close-icon {
  color: #666;
  margin: 8px 8px 0 0;
}
