@import 'variables';
:host,
:host>div,
.site-inialized-content {
  height: 100vh;
  max-height: 100vh;
}

.site-inialized-content {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    max-height: calc(100vh - #{$header-height});
  }
}
