@import 'variables';
:host>div,
.site-inialized-content {
  max-height: 100vh;
}

.site-inialized-content {
  display: flex;
  flex-direction: column;
  main {
    flex: 1 1 auto;
    max-height: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: column;
  }
}
