@import 'variables';
@import 'utils';
:host {
  color: #888;
}

h1 {
  text-transform: uppercase;
  small {
    text-transform: lowercase;
    font-size: 60%;
  }
}

form {
  md-icon {
    color: #999;
  }
  md-input-container {
    display: block;
  }
}

.progress-bar-wrapper {
  height: 5px;
}
