<div class="d-flex flex-column justify-content-around h-100">
  <h1>Connexion
    <small class="text-info" *ngIf="loading" [@fadeAnim]="'true'"> en cours...</small>
    <small class="text-success" *ngIf="!loading && authenticated" [@fadeAnim]="'true'"> réussie...</small>
  </h1>
  <div class="progress-bar-wrapper">
    <mat-progress-bar mode="indeterminate" *ngIf="loading" [@fadeAnim]="'true'"></mat-progress-bar>
  </div>
  <form id="loginForm" #loginForm="ngForm" name="loginForm" (ngSubmit)="login(loginForm)">
    <mat-form-field>
      <input matInput ngModel name="username" placeholder="Nom d'utilisateur" required [disabled]="loading">
      <mat-icon matSuffix>person_outline</mat-icon>
    </mat-form-field>
    <mat-form-field class="mt-4">
      <input matInput ngModel name="password" placeholder="Mot de passe" type="password" required [disabled]="loading">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
  </form>
  <button form="loginForm" mat-button class="blue align-self-end" [disabled]="loading">Connexion</button>
</div>
