<div class="d-flex flex-column justify-content-around h-100">
    <h1>Connexion
        <small class="text-info" *ngIf="loading" [@fadeAnim]="'true'"> en cours...</small>
        <small class="text-success" *ngIf="!loading && authenticated" [@fadeAnim]="'true'"> réussie...</small>
    </h1>
    <div class="progress-bar-wrapper">
        <md-progress-bar mode="indeterminate" *ngIf="loading" [@fadeAnim]="'true'"></md-progress-bar>
    </div>
    <form id="loginForm" #loginForm="ngForm" name="loginForm" (ngSubmit)="login(loginForm)">
        <md-input-container>
            <input mdInput ngModel name="username" placeholder="Nom d'utilisateur" required [disabled]="loading">
            <md-icon mdSuffix>person_outline</md-icon>
        </md-input-container>
        <md-input-container class="mt-4">
            <input mdInput ngModel name="password" placeholder="Mot de passe" type="password" required [disabled]="loading">
            <md-icon mdSuffix>lock</md-icon>
        </md-input-container>
    </form>
    <button form="loginForm" md-button color="primary" [disabled]="loading">Connexion</button>
</div>