<md-card>
    <md-card-title>Connexion</md-card-title>
    <form #loginForm="ngForm" name="loginForm" (ngSubmit)="login(loginForm)" [hidden]="loading$ | async">
        <md-input-container>
            <input mdInput [ngModel]="'test@test.fr'" name="username" placeholder="Nom d'utilisateur" required>
        </md-input-container>
        <md-input-container>
            <input mdInput [ngModel]="'password'" name="password" placeholder="Mot de passe" type="password" required>
        </md-input-container>
        <button md-button [disabled]="!loginForm.valid">Connexion</button>
    </form>
    <md-spinner [hidden]="!(loading$ | async)"></md-spinner>
    <div *ngIf="error$ | async" class="alert alert-danger">{{error$ | async}}</div>
</md-card>