@import 'variables';
@import 'utils';
:host {
  color: #888;
}

h1 {
  text-transform: uppercase;
  color: #555;
  small {
    text-transform: lowercase;
    font-size: 60%;
  }
}

form {
  color: #444;
  mat-icon {
    color: #999;
  }
  mat-form-field {
    display: block;
  }
  /deep/ .mat-form-field-underline {
    background-color: #999;
  }
  /deep/ .mat-form-field-empty.mat-form-field-placeholder {
    color: #999;
  }
}

.progress-bar-wrapper {
  height: 5px;
}
