<md-card>
  <md-card-title>{{project.name}}</md-card-title>
  <md-card-content>
    <!-- <p>{{project.description}}</p> -->
    <div *ngIf="project.plannedEndDate" mdTooltip="Deadline du projet">
      <md-icon class="align-middle">event</md-icon>
      <span class="align-middle">{{project.plannedEndDate | date:fullDate}}</span>
      <span class="badge badge-warning" *ngIf="deadlineWarningLevel === 1">Deadline proche</span>
      <span class="badge badge-danger" *ngIf="deadlineWarningLevel === 2">En retard</span>
    </div>
    <span *ngFor="let note of project.notes">{{note.title}}</span>
  </md-card-content>
  <md-card-footer>
    <span class="project-state">{{project.state | projectState}}</span>
    <md-progress-bar [value]="project.progress" color="accent"></md-progress-bar>
  </md-card-footer>
</md-card>
