<mat-card class="d-flex flex-column">
  <mat-card-header>
    <mat-card-title>{{project.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="project.plannedEndDate">
      Prévu pour le
      <span [ngClass]="{'text-danger': deadlineWarningLevel === 2, 'text-warning': deadlineWarningLevel === 1}">
        {{project.plannedEndDate | date:'fullDate'}}
      </span>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!project.plannedEndDate">Aucune date de livraison prévu</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="flex-1">
    <div class="project-state badge state-{{project.state}}">{{project.state | projectState}}</div>
    <div class="state-message">{{project.stateMessage}}</div>
    <div class="note-list-wrapper" *ngIf="project.notes?.length > 0">
      <span class="note-list-title">Penser à :</span>
      <ul class="note-list">
        <li *ngFor="let note of project.notes" [ngClass]="{'text-warning' : note.priority === 1, 'text-danger': note.priority === 2}">{{note.title}}</li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar [value]="project.progress" color="primary"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
