@import 'variables';
mat-card {
  height: 300px;
  cursor: pointer;
  /deep/ .mat-card-header-text {
    margin: 0;
  }
  mat-card-title {
    font-family: $title-font;
    font-size: 20px;
  }
  mat-card-subtitle,
  .state-message,
  .note-list,
  .note-list-title {
    font-size: 11px;
  }
  .project-details {
    color: rgba(255, 255, 255, 0.7);
  }
  .project-state,
  .state-message {
    margin-bottom: 8px;
  }
  .note-list-wrapper {
    .note-list-title {}
    .note-list {
      padding-left: 30px;
      list-style: disc;
    }
  }
}

.state-0 {
  background: $project-list-color-1;
}

.state-1 {
  background: $project-list-color-2;
}

.state-2 {
  background: $project-list-color-3;
}

.state-3 {
  background: $project-list-color-4;
}

.state-4 {
  background: $project-list-color-5;
}

.project-state {
  display: block;
  text-align: center;
}
