@import 'variables';
:host {
    position: relative;
    z-index: 1000;
}

.header-nav {
    background: #fff;
    .header-left {
        padding-left: 20px;
    }
    button {
        color: $primary-color;
    }
}