<md-toolbar class="header-nav align-items-stretch mat-elevation-z6">
    <span class="logo">ManageAll</span>
    <div class="header-left d-flex" *ngIf="(authenticated$ | async)">
        <button md-button [routerLink]=" ['/project'] ">Projets</button>
        <button md-button [routerLink]=" ['/client'] ">Clients</button>
    </div>
    <span class="toolbar-spacer"></span>
    <div class="header-right d-flex">
        <app-user-menu [user]="user$" *ngIf="(authenticated$ | async)"></app-user-menu>
        <button md-button *ngIf="!(authenticated$ | async)" [routerLink]=" ['/login'] ">Se connecter</button>
    </div>
</md-toolbar>