<h2 class="panel-header">Post it</h2>

<form #noteForm="ngForm" (ngSubmit)="create.emit(noteForm.value)" class="list-create-form">
    <md-input-container>
        <input name="title" type="text" mdInput ngModel placeholder="Nouvelle note..." required>
    </md-input-container>
    <button md-button type="submit"><md-icon>add</md-icon></button>
</form>

<div class="note-list">
    <div *ngFor="let note of (notes$ | async)" (click)="toggle.emit(note)" class="post-it selectable" [ngClass]="{'done' : note.done}">
        {{note.title}}
    </div>
</div>