@import 'components';
:host {
    display: block;
}

.post-it {
    @extend .default-panel-item;
    margin-bottom: 5px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.create-wrapper {
    text-align: center;
    min-height: 36px;
    color: #fff;
    md-button-toggle {
        transition: background 200ms;
        background: rgba(255, 255, 255, 0.2);
    }
    /deep/.mat-button-toggle-checked {
        background: rgba(255, 255, 255, 0.5)!important;
    }
    &/deep/.mat-button-toggle-label-content {
        font-size: 13px;
        color: #fff;
    }
}

.note-list-wrapper {
    min-height: 100px;
}

.gu-transit {
    opacity: 0.5;
}

.gu-mirror {
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}