:host {
    display: block;
}

.post-it {
    background: #eee;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.create-wrapper {
    text-align: center;
    min-height: 36px;
    transition: all 100ms;
    &/deep/.mat-button-toggle-label-content {
        font-size: 13px;
    }
}

.note-list-wrapper {
    min-height: 100px;
}

.gu-transit {
    opacity: 0.5;
}

.gu-mirror {
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}