<div class="create-wrapper">
    <form #noteForm="ngForm" (ngSubmit)="createNote(noteForm)" class="p-2 d-inline-flex flex-column" *ngIf="showForm" [@slideApparitionAnimation]="'true'">
        <md-input-container class="translucide-input">
            <input name="title" type="text" mdInput ngModel placeholder="Nouvelle note..." required>
        </md-input-container>
        <md-button-toggle-group ngModel value="0" name="priority">
            <md-button-toggle value="0">
                <md-icon>info_outline</md-icon>
                Normal
            </md-button-toggle>
            <md-button-toggle value="1">
                <md-icon>warning</md-icon>
                Important
            </md-button-toggle>
            <md-button-toggle value="2">
                <md-icon>priority_hight</md-icon>
                Urgent
            </md-button-toggle>
        </md-button-toggle-group>
        <div class="text-right mt-2">
            <button md-button (click)="cancel(noteForm)"><md-icon>cancel</md-icon></button>
            <button md-button type="submit"><md-icon>add_circle</md-icon></button>
        </div>
    </form>
    <button (click)="showForm = true" md-button *ngIf="!showForm" [@slideApparitionAnimation]="'true'">Ajouter une note</button>
</div>
<div class="note-list">
    <div class="loading-bar-wrapper">
        <md-progress-bar mode="indeterminate" *ngIf="loading" [@fadeAnim]="'true'"></md-progress-bar>
    </div>
    <div [dragula]='"notes"' class="note-list-wrapper" [@listSlideAnim]="notes.length">
        <div *ngFor="let note of notes" (click)="toggle.emit(note)" class="post-it p-2 rounded anim-item" [attr.note-id]="note.id" [ngClass]="{'done' : note.done, 'removing': note.removing}">
            <md-icon *ngIf="note.priority == 1" class="align-middle text-warning mx-2">warning</md-icon>
            <md-icon *ngIf="note.priority == 2" class="align-middle text-danger mx-2">priority_hight</md-icon>
            {{note.title}} {{note.removing ? 'remove' : ''}}
        </div>
    </div>
</div>