<div>
    <h2 class="panel-header">Activités</h2>
    <md-progress-bar color="primary" mode="indeterminate" *ngIf="loading$ | async">
    </md-progress-bar>
    <form #historyForm="ngForm" (ngSubmit)="createEntry(historyForm.value)" class="list-create-form">
        <md-input-container>
            <input name="title" type="text" mdInput ngModel placeholder="Nouveau entré..." required>
        </md-input-container>
        <button md-button type="submit"><md-icon>add</md-icon></button>
    </form>
    <p *ngIf="(historyEntries$ | async)?.length == 0">Aucun historique...</p>
</div>
<div>
    <div *ngFor="let entry of (historyEntries$ | async)" class="history-item selectable">

        <!--<div *ngIf="selected?.id == entry.id" class="update-form-wrapper" [@itemState]="true">
            <form #selectedEntryForm="ngForm" (ngSubmit)="updateSelected()" class="d-flex flex-column">
                <md-input-container fxFlex="70">
                    <input name="title" type="text" mdInput [(ngModel)]="selected.title" placeholder="Libellé..." required>
                </md-input-container>
                <md-input-container>
                    <input name="content" type="text" mdInput [(ngModel)]="selected.content" placeholder="Description...">
                </md-input-container>
                <material-datepicker name="date" [(date)]="selected.date"></material-datepicker>

                <div class="d-flex justify-content-end">
                    <button md-button type="submit"><md-icon>save</md-icon></button>
                    <button md-button type="button" (click)="unselect();$event.stopPropagation()"><md-icon>cancel</md-icon></button>
                    <button md-button type="button" (click)="deleteSelected();$event.stopPropagation()"><md-icon>delete</md-icon></button>
                </div>
            </form>
        </div>-->
        <div class="history-item-content">
            <span class="fa fa-folder p-2"></span>
            <div class="history-content-wrapper">
                <div class="history-title">{{entry.title}}</div>
                <div class="history-content">{{entry.content}} </div>
                <span class="history-date">{{entry.date | date}}</span>
            </div>
        </div>
    </div>
</div>