md-card {
    padding: 0;
    margin-bottom: 10px;
}

.summary-column {
    flex-grow: 1;
}

.title {
    background: #222;
    color: #fff;
    font-family: Oswald;
    padding: 10px;
}

.value {
    padding: 20px 10px;
    border-radius: 0;
}