<div class="col-9 d-flex flex-column justify-content-between">
  <div class="d-flex flex-column">
    <div class="actions-panel">
      <button mat-mini-fab
              (click)="openClientDialog()"
              color="primary"
              matTooltip="Répertoire client"
              matTooltipPosition="left">
        <mat-icon>import_contacts</mat-icon>
      </button>
      <button (click)="openCreateNote()"
              color="primary"
              mat-mini-fab
              matTooltip="Ajouter un pense bête"
              matTooltipPosition="left"
              class="mt-2">
        <mat-icon>note_add</mat-icon>
      </button>
      <button (click)="openCreateHistoryEntry()"
              color="primary"
              mat-mini-fab
              matTooltip="Ajouter une activité"
              matTooltipPosition="left"
              class="mt-2">
        <mat-icon>note_add</mat-icon>
      </button>
      <button [routerLink]="['../settings']"
              color="primary"
              mat-mini-fab
              class="mt-2"
              matTooltip="Options du projet"
              matTooltipPosition="left">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <app-project-title [title]="title"
                       (back)="goBack()">
      <app-project-state [state]="project.state"
                         (change)="changeState($event)"
                         class="ml-4"></app-project-state>
      <app-inplace #statusMessageInplace
                   [showSaveButton]="false"
                   class="ml-4">
        <div class="inplace-output">
          <span>{{project.stateMessage ? project.stateMessage : 'Status du projet'}}</span>
        </div>
        <span class="inplace-input d-flex align-items-baseline">
          <form #projectStatusMessageForm="ngForm"
                (ngSubmit)="saveStateMessage(projectStatusMessageForm)">
            <mat-input-container class="white-input">
              <input matInput
                     type="text"
                     placeholder="Status du projet"
                     [ngModel]="project.stateMessage"
                     name="stateMessage">
            </mat-input-container>
            <button mat-raised-button
                    class="icon-only green mx-2"
                    type="submit">
              <mat-icon>save</mat-icon>
            </button>
          </form>
          <button mat-button
                  (click)="statusMessageInplace.toggle()"
                  class="icon-only">
            <mat-icon>cancel</mat-icon>
          </button>
        </span>
      </app-inplace>
    </app-project-title>
    <div class="row flex-1">
      <div class="col-12 col-lg-7 progress-wrapper">
        <ng-container *ngIf="project.progress">
          <ngx-charts-advanced-pie-chart [view]="chartSize"
                                         [results]="taskSummary"
                                         [scheme]="colorScheme">
          </ngx-charts-advanced-pie-chart>
        </ng-container>
      </div>
      <div class="col-12 col-lg-5 align-items-end">
        <app-project-note-list [notes]="notes$ | async"
                               [loading]="notesLoading$ | async"
                               (edit)="editNote($event)"
                               (delete)="deleteNote($event)"></app-project-note-list>

      </div>
    </div>
  </div>

  <div class="link-squares d-flex justify-content-around align-items-center">
    <mat-card class="link-square square-devis"
              [routerLink]="['../devis']">
      <mat-card-header class="flex-column align-items-center">
        <mat-icon>assignment</mat-icon>
        <mat-card-title>Devis</mat-card-title>
      </mat-card-header>
      <mat-card-content class="summary-wrapper">
        <span class="badge badge-primary"
              *ngIf="devisSummary[0]">{{devisSummary[0]}} brouillon{{devisSummary[0] > 1 ? 's': ''}}</span>
        <span class="badge badge-warning"
              *ngIf="devisSummary[1]">{{devisSummary[1]}} en attente</span>
        <span class="badge badge-success"
              *ngIf="devisSummary[2]">{{devisSummary[2]}} accepté{{devisSummary[2] > 1 ? 's': ''}}</span>
        <span class="badge badge-danger"
              *ngIf="devisSummary[3]">{{devisSummary[3]}} refusé{{devisSummary[3] > 1 ? 's': ''}}</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="link-square square-tasks"
              [routerLink]="['../tasks']">
      <mat-card-header class="flex-column align-items-center">
        <h2>Tâches</h2>
        <mat-icon>list</mat-icon>
      </mat-card-header>
      <mat-card-content class="summary-wrapper">
        <span class="badge badge-primary"
              *ngIf="taskSummary[0]">{{taskSummary[0].value}} tâche{{taskSummary[0] > 1 ? 's': ''}} à faire</span>
        <span class="badge badge-warning"
              *ngIf="taskSummary[1]">{{taskSummary[1].value}} tâche{{taskSummary[1] > 1 ? 's': ''}} en cours</span>
        <span class="badge badge-success"
              *ngIf="taskSummary[2]">{{taskSummary[2].value}} tâche{{taskSummary[2] > 1 ? 's': ''}} terminées</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="link-square square-invoices"
              [routerLink]="['../invoices']">
      <mat-card-header class="flex-column align-items-center">
        <h2>Factures</h2>
        <mat-icon>monetization_on</mat-icon>
      </mat-card-header>
      <mat-card-content class="summary-wrapper">
        <span class="badge badge-primary"
              *ngIf="invoiceSummary[0]">{{invoiceSummary[0]}} brouillon{{invoiceSummary[0] > 1 ? 's': ''}}</span>
        <span class="badge badge-warning"
              *ngIf="invoiceSummary[1]">{{invoiceSummary[1]}} en attente de paiement</span>
        <span class="badge badge-success"
              *ngIf="invoiceSummary[2]">{{invoiceSummary[2]}} payée{{invoiceSummary[2] > 1 ? 's': ''}}</span>
        <span class="badge badge-danger"
              *ngIf="invoiceSummary[3]">{{invoiceSummary[3]}} abandonnée{{invoiceSummary[3] > 1 ? 's': ''}}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="col-3 history-wrapper light-scrollbar">
  <project-history [historyEntries]="historyEntries$ | async"
                   [loading]="historyLoading$ | async"
                   (loadMore)="loadMoreHistoryEntry()"
                   (edit)="editEntry($event)"></project-history>
</div>