@import '../project-details-variables';
@import 'variables';
@import 'components';
:host {
    @include project-details-container;
}

.project-header {
    h1 {
        color: #333;
        font-family: $title-font;
        text-transform: uppercase;
        font-size: 50px;
        line-height: 50px;
        margin: 0;
    }
    p {
        color: #333;
    }
}

.progress-wrapper {
    md-progress-spinner {
        width: 200px;
        height: 200px;
    }
    .progress-wrapper-value {
        position: absolute;
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-family: $title-font;
            font-size: 40px;
        }
    }
}

project-history {
    max-width: 300px;
}

app-note-list {
    @extend .default-panel;
    min-width: 300px;
}