@import '../project-details-variables';
@import 'variables';
:host {
    @include project-details-container;
}

.project-header {
    padding: 50px;
    h1 {
        font-family: $title-font;
        text-transform: uppercase;
        font-size: 51px;
        font-size: 50px;
    }
    p {
        color: #777;
    }
}

project-history {
    max-width: 300px;
}

.one-value-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    app-one-value-card {
        flex: 1;
    }
}

.tasksCount {
    display: flex;
    justify-content: space-around;
    span {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: #aaa;
        border-radius: 50%;
        text-align: center;
        margin-right: 20px;
        color: #fff;
        font-size: 18px;
    }
}