<md-toolbar class="header-nav" color="primary">
    <span>ManageAll</span>
    <div class="header-left" *ngIf="authenticated">
        <button md-button [routerLink]=" ['./project'] ">Projets</button>
        <button md-button [routerLink]=" ['./client'] ">Clients</button>
    </div>
    <span class="header-spacer"></span>
    <div class="header-right">
        <app-user-menu *ngIf="authenticated"></app-user-menu>
        <button md-button *ngIf="!authenticated" [routerLink]=" ['./login'] ">Se connecter</button>
    </div>
</md-toolbar>