<div class="create-project-wrapper">
  <form #nameForm="ngForm" class="step" *ngIf="step === 0" (ngSubmit)="nextStep(nameForm)">
    <button type="submit" style="display:none">hidden submit</button>
    <p>
      <button mat-button class="icon-only" (click)="prevStep()">
        <mat-icon>arrow_back</mat-icon>
      </button> Quel est le nom de votre projet ?</p>
    <mat-input-container>
      <input name="name" type="text" matInput [(ngModel)]="project.name" placeholder="Nom du projet" required>
    </mat-input-container>
    <button mat-raised-button class="align-self-end" type="submit">Suivant</button>
  </form>


  <form #deadForm="ngForm" class="step" *ngIf="step === 1" (ngSubmit)="createProject(deadForm)">
    <button type="submit" style="display:none">hidden submit</button>
    <p>
      <button mat-button class="icon-only" (click)="prevStep()">
        <mat-icon>arrow_back</mat-icon>
      </button> Quelle est la deadline du projet ?</p>
    <mat-form-field>
      <input matInput [(ngModel)]="project.plannedEndDate" [matDatepicker]="myDatepicker" placeholder="Sélectionnez une date" name="deadline">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button class="blue align-self-end" type="submit">Créer</button>
  </form>

  <div class="step" *ngIf="projectCreating | async">
    <p>Création du projet
      <app-spinner></app-spinner>
    </p>
  </div>
</div>
