:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.create-project-wrapper {
  min-width: 400px;
}

.step {
  display: flex;
  flex-direction: column;
}
