<div class="container">
  <div class="row">
    <div class="col col-12 col-lg-3 col-xl-3 my-4 my-lg-0 my-xl-0">
      <div class="side-menu flex-row flex-lg-column">
        <a [routerLink]="['./general']" routerLinkActive="active">
          <mat-icon>info</mat-icon>Général
        </a>
        <a [routerLink]="['./password']" routerLinkActive="active">
          <mat-icon>lock</mat-icon>Mot de passe
        </a>
      </div>
    </div>
    <div class="col col-12 col-lg-9 col-xl-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
