<h2 mat-dialog-title>Nouvelle activité</h2>
<mat-dialog-content>
  <form #entryForm="ngForm">
    <mat-form-field>
      <mat-select placeholder="Type d'activité" [(value)]="entry.type" name="type" (change)="onTypeChange($event)">
        <mat-option *ngFor="let t of selectableEntries" [value]="t">
          {{ t | historyEnrty}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Libellé de l'activité" [(ngModel)]="entry.title" name="title" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description de l'activité" [(ngModel)]="entry.content" name="content">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="entry.date" [matDatepicker]="picker" placeholder="Sélectionnez une date" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="create(entryForm)">
    <mat-icon class="mr-2 text-success">check_circle</mat-icon>Créer</button>
  <button mat-button mat-dialog-close>
    <mat-icon class="mr-2 text-danger">cancel</mat-icon>Annuler</button>
</mat-dialog-actions>
