<nav class="side-nav-bar">
  <div class="activeElement mat-elevation-z6" [@menuAnim]="state"></div>
  <a [routerLink]="['../dashboard']" routerLinkActive="active" title="Dashboard" (mouseenter)="changeState('projectDashboard')"
    (mouseleave)="resetState()" (click)="selectState('projectDashboard')">
    <md-icon>dashboard</md-icon>
    <span class="hidden-sm-down">Général</span>
  </a>
  <a [routerLink]="['../tasks']" routerLinkActive="active" title="Gestion des tâches" (mouseenter)="changeState('projectTasks')"
    (mouseleave)="resetState()" (click)="selectState('projectTasks')">
    <md-icon>list</md-icon>
    <span class="hidden-sm-down">Tâches</span>
  </a>
  <a [routerLink]="['../devis']" routerLinkActive="active" title="Devis" (mouseenter)="changeState('projectDevis')" (mouseleave)="resetState()"
    (click)="selectState('projectDevis')">
    <md-icon>assignment</md-icon>
    <span class="hidden-sm-down">Devis</span>
  </a>
  <a [routerLink]="['../invoices']" routerLinkActive="active" title="Factures" (mouseenter)="changeState('projectInvoices')"
    (mouseleave)="resetState()" (click)="selectState('projectInvoices')">
    <md-icon>monetization_on</md-icon>
    <span class="hidden-sm-down">Factures</span>
  </a>
  <a [routerLink]="['../settings']" routerLinkActive="active" title="Options" (mouseenter)="changeState('projectSettings')"
    (mouseleave)="resetState()" (click)="selectState('projectSettings')">
    <md-icon>settings</md-icon>
    <span class="hidden-sm-down">Options</span>
  </a>
</nav>
