.note-list {
    display: flex;
    flex-direction: column;
    .post-it {
        margin-bottom: 10px;
        padding: 10px 20px;
    }
    .post-it.done {
        background: #ddd;
        opacity: 0.5;
        text-decoration: line-through;
    }
}

.action-panel {
    height: 0;
    overflow: hidden;
    transition: height 200ms;
}

.action-panel.visible {
    height: 50px;
}

.action-panel>div {
    display: flex;
    justify-content: space-between;
}