.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .post-it {
        margin: 10px;
        background: #fff9c4;
        min-width: 150px;
        min-height: 150px;
    }
    .post-it.done {
        background: #ddd;
        opacity: 0.5;
        text-decoration: line-through;
    }
}

.action-panel {
    height: 0;
    overflow: hidden;
    transition: height 200ms;
}

.action-panel.visible {
    height: 50px;
}

.action-panel>div {
    display: flex;
    justify-content: space-between;
}