<div class="dashboard-left">
    <md-card class="project-summary" *ngIf="project">

        <md-button-toggle-group *ngIf="project" name="state" (change)="saveProject()" [(ngModel)]="project.state" class="project-state-buttons">
            <md-button-toggle value="0">
                Prospection
            </md-button-toggle>
            <md-button-toggle value="1">
                Devis
            </md-button-toggle>
            <md-button-toggle value="2">
                Production
            </md-button-toggle>
            <md-button-toggle value="3">
                Facturé
            </md-button-toggle>
            <md-button-toggle value="4">
                Payé
            </md-button-toggle>
        </md-button-toggle-group>
        <span class="project-progress">{{project.progress}}%</span>
    </md-card>
    <project-gains [projectId]="projectId"></project-gains>
    <project-client [projectId]="projectId"></project-client>
</div>

<project-history [projectId]="projectId"></project-history>

<app-note-list [projectId]="projectId"></app-note-list>